@import 'config.css';
@import 'layouts.css';
@import 'containers.css';
@import 'helpers.css';
@import 'helpers-sm.css';
@import 'helpers-md.css';
@import 'helpers-lg.css';
@import 'style.css';

@font-face {
   font-family: 'Ubuntu';
   src: url(./../fonts/ubuntu.ttf) format('truetype');
}
input {
   font-family: 'Ubuntu';
}
textarea {
   font-family: 'Ubuntu';
}
