@media screen and (min-width: 1200px) {
   /* colores :::::::::::::::::::::::::::::::::::::::::::::*/
   .lg\:text-white {
      color: var(--color-white);
   }

   .lg\:text-white-1 {
      color: var(--color-white-1);
   }

   .lg\:text-white-2 {
      color: var(--color-white-2);
   }

   .lg\:text-white-3 {
      color: var(--color-white-3);
   }

   .lg\:text-primary {
      /* --tw-text-opacity: fa; */
      color: var(--color-primary);
   }

   .lg\:text-primary-1 {
      color: var(--color-primary-1);
   }

   .lg\:text-primary-2 {
      color: var(--color-primary-2);
   }

   .lg\:text-primary-3 {
      color: var(--color-primary-3);
   }

   .lg\:text-accent {
      color: var(--color-accent);
   }

   .lg\:text-accent-1 {
      color: var(--color-accent-1);
   }

   .lg\:text-accent-2 {
      color: var(--color-accent-2);
   }

   .lg\:text-accent-3 {
      color: var(--color-accent-3);
   }

   .lg\:text-dark {
      color: var(--color-dark);
   }

   .lg\:text-dark-1 {
      color: var(--color-dark-1);
   }

   .lg\:text-dark-2 {
      color: var(--color-dark-2);
   }

   .lg\:text-dark-3 {
      color: var(--color-dark-3);
   }

   .lg\:text-blue {
      color: var(--color-blue);
   }

   .lg\:text-green {
      color: var(--color-green);
   }

   .lg\:text-yellow {
      color: var(--color-yellow);
   }

   .lg\:text-orange {
      color: var(--color-orange);
   }

   .lg\:text-red {
      color: var(--color-red);
   }

   .lg\:text-brown {
      color: var(--color-brown);
   }

   .lg\:text-purple {
      color: var(--color-purple);
   }

   .lg\:text-pink {
      color: var(--color-pink);
   }

   /* colores hover */
   .lg\:hover\:text-white:hover {
      color: var(--color-white);
   }

   .lg\:hover\:text-white-1:hover {
      color: var(--color-white-1);
   }

   .lg\:hover\:text-white-2:hover {
      color: var(--color-white-2);
   }

   .lg\:hover\:text-white-3:hover {
      color: var(--color-white-3);
   }

   .lg\:hover\:text-primary:hover {
      color: var(--color-primary);
   }

   .lg\:hover\:text-primary-1:hover {
      color: var(--color-primary-1);
   }

   .lg\:hover\:text-primary-2:hover {
      color: var(--color-primary-2);
   }

   .lg\:hover\:text-primary-3:hover {
      color: var(--color-primary-3);
   }

   .lg\:hover\:text-accent:hover {
      color: var(--color-accent);
   }

   .lg\:hover\:text-accent-1:hover {
      color: var(--color-accent-1);
   }

   .lg\:hover\:text-accent-2:hover {
      color: var(--color-accent-2);
   }

   .lg\:hover\:text-accent-3:hover {
      color: var(--color-accent-3);
   }

   .lg\:hover\:text-dark:hover {
      color: var(--color-dark);
   }

   .lg\:hover\:text-dark-1:hover {
      color: var(--color-dark-1);
   }

   .lg\:hover\:text-dark-2:hover {
      color: var(--color-dark-2);
   }

   .lg\:hover\:text-dark-3:hover {
      color: var(--color-dark-3);
   }

   .lg\:hover\:text-blue:hover {
      color: var(--color-blue);
   }

   .lg\:hover\:text-green:hover {
      color: var(--color-green);
   }

   .lg\:hover\:text-yellow:hover {
      color: var(--color-yellow);
   }

   .lg\:hover\:text-orange:hover {
      color: var(--color-orange);
   }

   .lg\:hover\:text-red:hover {
      color: var(--color-red);
   }

   .lg\:hover\:text-brown:hover {
      color: var(--color-brown);
   }

   .lg\:hover\:text-purple:hover {
      color: var(--color-purple);
   }

   .lg\:hover\:text-pink:hover {
      color: var(--color-pink);
   }

   /* fondos :::::::::::::::::::::::::::::::::::::::::::::*/
   .lg\:bg-white {
      background-color: var(--color-white);
   }

   .lg\:bg-white-1 {
      background-color: var(--color-white-1);
   }

   .lg\:bg-white-2 {
      background-color: var(--color-white-2);
   }

   .lg\:bg-white-3 {
      background-color: var(--color-white-3);
   }

   .lg\:bg-primary {
      background-color: var(--color-primary);
   }

   .lg\:bg-primary-1 {
      background-color: var(--color-primary-1);
   }

   .lg\:bg-primary-2 {
      background-color: var(--color-primary-2);
   }

   .lg\:bg-primary-3 {
      background-color: var(--color-primary-3);
   }

   .lg\:bg-accent {
      background-color: var(--color-accent);
   }

   .lg\:bg-accent-1 {
      background-color: var(--color-accent-1);
   }

   .lg\:bg-accent-2 {
      background-color: var(--color-accent-2);
   }

   .lg\:bg-accent-3 {
      background-color: var(--color-accent-3);
   }

   .lg\:bg-dark {
      background-color: var(--color-dark);
   }

   .lg\:bg-dark-1 {
      background-color: var(--color-dark-1);
   }

   .lg\:bg-dark-2 {
      background-color: var(--color-dark-2);
   }

   .lg\:bg-dark-3 {
      background-color: var(--color-dark-3);
   }

   .lg\:bg-blue {
      background-color: var(--color-blue);
   }

   .lg\:bg-green {
      background-color: var(--color-green);
   }

   .lg\:bg-yellow {
      background-color: var(--color-yellow);
   }

   .lg\:bg-orange {
      background-color: var(--color-orange);
   }

   .lg\:bg-red {
      background-color: var(--color-red);
   }

   .lg\:bg-brown {
      background-color: var(--color-brown);
   }

   .lg\:bg-purple {
      background-color: var(--color-purple);
   }

   .lg\:bg-pink {
      background-color: var(--color-pink);
   }

   .lg\:bg-transparent {
      background-color: rgba(255, 255, 255, 0);
   }

   /* fondos hover::::::::::::::::::::::::::::::::: */

   .lg\:hover\:bg-white:hover {
      background-color: var(--color-white);
   }

   .lg\:hover\:bg-white-1:hover {
      background-color: var(--color-white-1);
   }

   .lg\:hover\:bg-white-2:hover {
      background-color: var(--color-white-2);
   }

   .lg\:hover\:bg-white-3:hover {
      background-color: var(--color-white-3);
   }

   .lg\:hover\:bg-primary:hover {
      background-color: var(--color-primary);
   }

   .lg\:hover\:bg-primary-1:hover {
      background-color: var(--color-primary-1);
   }

   .lg\:hover\:bg-primary-2:hover {
      background-color: var(--color-primary-2);
   }

   .lg\:hover\:bg-primary-3:hover {
      background-color: var(--color-primary-3);
   }

   .lg\:hover\:bg-accent:hover {
      background-color: var(--color-accent);
   }

   .lg\:hover\:bg-accent-1:hover {
      background-color: var(--color-accent-1);
   }

   .lg\:hover\:bg-accent-2:hover {
      background-color: var(--color-accent-2);
   }

   .lg\:hover\:bg-accent-3:hover {
      background-color: var(--color-accent-3);
   }

   .lg\:hover\:bg-dark:hover {
      background-color: var(--color-dark);
   }

   .lg\:hover\:bg-dark-1:hover {
      background-color: var(--color-dark-1);
   }

   .lg\:hover\:bg-dark-2:hover {
      background-color: var(--color-dark-2);
   }

   .lg\:hover\:bg-dark-3:hover {
      background-color: var(--color-dark-3);
   }

   .lg\:hover\:bg-blue:hover {
      background-color: var(--color-blue);
   }

   .lg\:hover\:bg-green:hover {
      background-color: var(--color-green);
   }

   .lg\:hover\:bg-yellow:hover {
      background-color: var(--color-yellow);
   }

   .lg\:hover\:bg-orange:hover {
      background-color: var(--color-orange);
   }

   .lg\:hover\:bg-red:hover {
      background-color: var(--color-red);
   }

   .lg\:hover\:bg-brown:hover {
      background-color: var(--color-brown);
   }

   .lg\:hover\:bg-purple:hover {
      background-color: var(--color-purple);
   }

   .lg\:hover\:bg-pink:hover {
      background-color: var(--color-pink);
   }

   .lg\:hover\:bg-transparet:hover {
      background-color: rgba(255, 255, 255, 0);
   }

   /* //border  :::::::::::::::::::::::::::::::::::: */
   .lg\:border-solid-1 {
      border-style: solid;
      border-width: 0.12rem;
   }

   .lg\:border-solid-2 {
      border-style: solid;
      border-width: 0.2rem;
   }

   .lg\:border-solid-3 {
      border-style: solid;
      border-width: 0.35rem;
   }

   .lg\:border-solid-4 {
      border-style: solid;
      border-width: 0.45rem;
   }

   .lg\:border-solid-5 {
      border-style: solid;
      border-width: 0.85rem;
   }

   /*border con direccion::::::::::::::::::::: */
   .lg\:border-solid-1-top {
      border-style: solid;
      border-top-width: 0.12rem;
   }

   .lg\:border-solid-1-bottom {
      border-style: solid;
      border-bottom-width: 0.12rem;
   }

   .lg\:border-solid-1-right {
      border-style: solid;
      border-right-width: 0.12rem;
   }

   .lg\:border-solid-1-left {
      border-style: solid;
      border-left-width: 0.12rem;
   }

   .lg\:border-solid-2-top {
      border-style: solid;
      border-top-width: 0.2rem;
   }

   .lg\:border-solid-2-bottom {
      border-style: solid;
      border-bottom-width: 0.2rem;
   }

   .lg\:border-solid-2-right {
      border-style: solid;
      border-right-width: 0.2rem;
   }

   .lg\:border-solid-2-left {
      border-style: solid;
      border-left-width: 0.2rem;
   }

   .lg\:border-solid-3-top {
      border-style: solid;
      border-top-width: 0.35rem;
   }

   .lg\:border-solid-3-bottom {
      border-style: solid;
      border-bottom-width: 0.35rem;
   }

   .lg\:border-solid-3-right {
      border-style: solid;
      border-right-width: 0.35rem;
   }

   .lg\:border-solid-3-left {
      border-style: solid;
      border-left-width: 0.35rem;
   }

   .lg\:border-solid-4-top {
      border-style: solid;
      border-top-width: 0.45rem;
   }

   .lg\:border-solid-4-bottom {
      border-style: solid;
      border-bottom-width: 0.45rem;
   }

   .lg\:border-solid-4-right {
      border-style: solid;
      border-right-width: 0.45rem;
   }

   .lg\:border-solid-4-left {
      border-style: solid;
      border-left-width: 0.45rem;
   }

   .lg\:border-solid-5-top {
      border-style: solid;
      border-top-width: 0.85rem;
   }

   .lg\:border-solid-5-bottom {
      border-style: solid;
      border-bottom-width: 0.85rem;
   }

   .lg\:border-solid-5-right {
      border-style: solid;
      border-right-width: 0.85rem;
   }

   .lg\:border-solid-5-left {
      border-style: solid;
      border-left-width: 0.85rem;
   }

   .lg\:border-color-white {
      border-color: var(--color-white);
   }

   .lg\:border-color-white-1 {
      border-color: var(--color-white-1);
   }

   .lg\:border-color-white-2 {
      border-color: var(--color-white-2);
   }

   .lg\:border-color-white-3 {
      border-color: var(--color-white-3);
   }

   .lg\:border-color-primary {
      border-color: var(--color-primary);
   }

   .lg\:border-color-primary-1 {
      border-color: var(--color-primary-1);
   }

   .lg\:border-color-primary-2 {
      border-color: var(--color-primary-2);
   }

   .lg\:border-color-primary-3 {
      border-color: var(--color-primary-3);
   }

   .lg\:border-color-accent {
      border-color: var(--color-accent);
   }

   .lg\:border-color-accent-1 {
      border-color: var(--color-accent-1);
   }

   .lg\:border-color-accent-2 {
      border-color: var(--color-accent-2);
   }

   .lg\:border-color-accent-3 {
      border-color: var(--color-accent-3);
   }

   .lg\:border-color-dark {
      border-color: var(--color-dark);
   }

   .lg\:border-color-dark-1 {
      border-color: var(--color-dark-1);
   }

   .lg\:border-color-dark-2 {
      border-color: var(--color-dark-2);
   }

   .lg\:border-color-dark-3 {
      border-color: var(--color-dark-3);
   }

   .lg\:border-color-blue {
      border-color: var(--color-blue);
   }

   .lg\:border-color-green {
      border-color: var(--color-green);
   }

   .lg\:border-color-yellow {
      border-color: var(--color-yellow);
   }

   .lg\:border-color-orange {
      border-color: var(--color-orange);
   }

   .lg\:border-color-red {
      border-color: var(--color-red);
   }

   .lg\:border-color-brown {
      border-color: var(--color-brown);
   }

   .lg\:border-color-purple {
      border-color: var(--color-purple);
   }

   .lg\:border-color-pink {
      border-color: var(--color-pink);
   }

   /* //border radius */
   .lg\:border-radius {
      border-radius: 0.2rem;
   }

   .lg\:border-radius-1 {
      border-radius: 0.35rem;
   }

   .lg\:border-radius-2 {
      border-radius: 0.5rem;
   }

   .lg\:border-radius-3 {
      border-radius: 0.7rem;
   }

   .lg\:border-radius-4 {
      border-radius: 1rem;
   }

   .lg\:border-radius-5 {
      border-radius: 1.5rem;
   }

   .lg\:border-radius-6 {
      border-radius: 1.8rem;
   }

   .lg\:border-radius-7 {
      border-radius: 2.2rem;
   }

   .lg\:border-radius-8 {
      border-radius: 2.8rem;
   }

   .lg\:border-radius-9 {
      border-radius: 3.6rem;
   }

   .lg\:border-radius-10 {
      border-radius: 4.8rem;
   }

   .lg\:border-radius-50\% {
      border-radius: 50%;
   }

   .lg\:border-radius-top-left {
      border-top-left-radius: 0.2rem;
   }

   .lg\:border-radius-top-left-1 {
      border-top-left-radius: 0.35rem;
   }

   .lg\:border-radius-top-left-2 {
      border-top-left-radius: 0.5rem;
   }

   .lg\:border-radius-top-left-3 {
      border-top-left-radius: 0.7rem;
   }

   .lg\:border-radius-top-left-4 {
      border-top-left-radius: 1rem;
   }

   .lg\:border-radius-top-left-5 {
      border-top-left-radius: 1.5rem;
   }

   .lg\:border-radius-top-left-6 {
      border-top-left-radius: 1.8rem;
   }

   .lg\:border-radius-top-left-7 {
      border-top-left-radius: 2.2rem;
   }

   .lg\:border-radius-top-left-8 {
      border-top-left-radius: 2.8rem;
   }

   .lg\:border-radius-top-left-9 {
      border-top-left-radius: 3.6rem;
   }

   .lg\:border-radius-top-left-10 {
      border-top-left-radius: 4.8rem;
   }

   .lg\:border-radius-top-right {
      border-top-right-radius: 0.2rem;
   }

   .lg\:border-radius-top-right-1 {
      border-top-right-radius: 0.35rem;
   }

   .lg\:border-radius-top-right-2 {
      border-top-right-radius: 0.5rem;
   }

   .lg\:border-radius-top-right-3 {
      border-top-right-radius: 0.7rem;
   }

   .lg\:border-radius-top-right-4 {
      border-top-right-radius: 1rem;
   }

   .lg\:border-radius-top-right-5 {
      border-top-right-radius: 1.5rem;
   }

   .lg\:border-radius-top-right-6 {
      border-top-right-radius: 1.8rem;
   }

   .lg\:border-radius-top-right-7 {
      border-top-right-radius: 2.2rem;
   }

   .lg\:border-radius-top-right-8 {
      border-top-right-radius: 2.8rem;
   }

   .lg\:border-radius-top-right-9 {
      border-top-right-radius: 3.6rem;
   }

   .lg\:border-radius-top-right-10 {
      border-top-right-radius: 4.8rem;
   }

   .lg\:border-radius-bottom-left {
      border-bottom-left-radius: 0.2rem;
   }

   .lg\:border-radius-bottom-left-1 {
      border-bottom-left-radius: 0.35rem;
   }

   .lg\:border-radius-bottom-left-2 {
      border-bottom-left-radius: 0.5rem;
   }

   .lg\:border-radius-bottom-left-3 {
      border-bottom-left-radius: 0.7rem;
   }

   .lg\:border-radius-bottom-left-4 {
      border-bottom-left-radius: 1rem;
   }

   .lg\:border-radius-bottom-left-5 {
      border-bottom-left-radius: 1.5rem;
   }

   .lg\:border-radius-bottom-left-6 {
      border-bottom-left-radius: 1.8rem;
   }

   .lg\:border-radius-bottom-left-7 {
      border-bottom-left-radius: 2.2rem;
   }

   .lg\:border-radius-bottom-left-8 {
      border-bottom-left-radius: 2.8rem;
   }

   .lg\:border-radius-bottom-left-9 {
      border-bottom-left-radius: 3.6rem;
   }

   .lg\:border-radius-bottom-left-10 {
      border-bottom-left-radius: 4.8rem;
   }

   .lg\:border-radius-bottom-right {
      border-bottom-right-radius: 0.2rem;
   }

   .lg\:border-radius-bottom-right-1 {
      border-bottom-right-radius: 0.35rem;
   }

   .lg\:border-radius-bottom-right-2 {
      border-bottom-right-radius: 0.5rem;
   }

   .lg\:border-radius-bottom-right-3 {
      border-bottom-right-radius: 0.7rem;
   }

   .lg\:border-radius-bottom-right-4 {
      border-bottom-right-radius: 1rem;
   }

   .lg\:border-radius-bottom-right-5 {
      border-bottom-right-radius: 1.5rem;
   }

   .lg\:border-radius-bottom-right-6 {
      border-bottom-right-radius: 1.8rem;
   }

   .lg\:border-radius-bottom-right-7 {
      border-bottom-right-radius: 2.2rem;
   }

   .lg\:border-radius-bottom-right-8 {
      border-bottom-right-radius: 2.8rem;
   }

   .lg\:border-radius-bottom-right-9 {
      border-bottom-right-radius: 3.6rem;
   }

   .lg\:border-radius-bottom-right-10 {
      border-bottom-right-radius: 4.8rem;
   }

   /* //hover de border? */

   /* transiones */
   .lg\:transition-all {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
   }

   .lg\:transition {
      transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
         transform, filter, backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
   }

   .lg\:transition-colors {
      transition-property: background-color, border-color, color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
   }

   .lg\:transition-opacity {
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
   }

   .lg\:transition-shadow {
      transition-property: box-shadow;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
   }

   .lg\:transition-transform {
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
   }

   .lg\:duration-1 {
      transition-duration: 75ms;
   }

   .lg\:duration-2 {
      transition-duration: 100ms;
   }

   .lg\:duration-3 {
      transition-duration: 150ms;
   }

   .lg\:duration-4 {
      transition-duration: 200ms;
   }

   .lg\:duration-5 {
      transition-duration: 300ms;
   }

   .lg\:duration-6 {
      transition-duration: 500ms;
   }

   .lg\:duration-7 {
      transition-duration: 700ms;
   }

   .lg\:duration-8 {
      transition-duration: 1000ms;
   }

   .lg\:duration-9 {
      transition-duration: 1000ms;
   }

   .lg\:duration-10 {
      transition-duration: 1000ms;
   }

   /* //sombras::::::::::::::::::::::::::::::::::::::::::::: */
   .lg\:shadow {
      box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 17%);
   }

   .lg\:shadow-1 {
      box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 17%);
      /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
   }

   .lg\:shadow-2 {
      box-shadow: 0px 8px 12px 0px rgb(0 0 0 / 17%);
      /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
   }

   .lg\:shadow-3 {
      box-shadow: 0px 16px 20px 0px rgb(0 0 0 / 17%);
      /* box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); */
   }

   .lg\:shadow-4 {
      box-shadow: 0px 24px 34px 0px rgb(0 0 0 / 25%);
      /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
   }

   .lg\:shadow-5 {
      box-shadow: 0px 32px 48px 0px rgb(0 0 0 / 30%);
      /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
   }

   /* alineacion de texto*/
   .lg\:text-center {
      text-align: center;
   }

   .lg\:text-justify {
      text-align: justify;
   }

   .lg\:text-left {
      text-align: left;
   }

   .lg\:text-right {
      text-align: right;
   }

   /* tamanio fuebnte:::::::::::::::::::::::::::::::::: */
   .lg\:text-size-1 {
      font-size: var(--movil-text-size-1);
   }

   .lg\:text-size-2 {
      font-size: var(--movil-text-size-2);
   }
   .lg\:text-size-3 {
      font-size: var(--movil-text-size-3);
   }
   .lg\:text-size-4 {
      font-size: var(--movil-text-size-4);
   }
   .lg\:text-size-5 {
      font-size: var(--movil-text-size-5);
   }
   .lg\:text-size-6 {
      font-size: var(--movil-text-size-6);
   }
   .lg\:text-size-7 {
      font-size: var(--movil-text-size-7);
   }
   .lg\:text-size-8 {
      font-size: var(--movil-text-size-8);
   }
   .lg\:text-size-9 {
      font-size: var(--movil-text-size-9);
   }
   .lg\:text-size-10 {
      font-size: var(--movil-text-size-10);
   }
   /* fuete negrita */
   .lg\:bold {
      font-weight: bold;
   }
   .lg\:bold-min {
      font-weight: 300;
   }
   .lg\:bold-max {
      font-weight: 900;
   }

   /* fuete negrita */
   .lg\:hover\:bold:hover {
      font-weight: bold;
   }
   .lg\:hover\:bold-min:hover {
      font-weight: 300;
   }
   .lg\:hover\:bold-max:hover {
      font-weight: 900;
   }

   /* display:::::::::::::::::::::::::::::::::::::::: */
   .lg\:d-inline-block {
      display: inline-block;
   }
   .lg\:d-block {
      display: block;
   }
   .lg\:d-flex {
      display: flex;
   }
   .lg\:d-none {
      display: none;
   }

   .lg\:flex-1 {
      flex: 1;
   }

   .lg\:flex-2 {
      flex: 2;
   }

   .lg\:flex-3 {
      flex: 3;
   }

   .lg\:flex-4 {
      flex: 4;
   }

   .lg\:flex-5 {
      flex: 5;
   }

   .lg\:flex-6 {
      flex: 6;
   }

   .lg\:flex-7 {
      flex: 6;
   }

   .lg\:flex-8 {
      flex: 6;
   }

   .lg\:flex-9 {
      flex: 6;
   }

   .lg\:flex-10 {
      flex: 6;
   }
   .lg\:align-center {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

   .lg\:align-start {
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
   }

   .lg\:align-end {
      -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
   }

   .lg\:justify-center {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }

   .lg\:justify-start {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-start;
   }

   .lg\:justify-end {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-end;
   }

   .lg\:position-relative {
      position: relative;
   }

   .lg\:position-absolute {
      position: absolute;
   }

   .lg\:position-fixed {
      position: fixed;
   }

   /* margin y opaddigd :::::::::::::::::::::::::::::*/
   /* margin */
   .lg\:m-1 {
      margin: 0.25rem;
   }
   .lg\:m-2 {
      margin: 0.5rem;
   }
   .lg\:m-3 {
      margin: 0.75rem;
   }
   .lg\:m-4 {
      margin: 1rem;
   }
   .lg\:m-5 {
      margin: 1.25rem;
   }
   .lg\:m-6 {
      margin: 1.5rem;
   }
   .lg\:m-7 {
      margin: 1.75rem;
   }
   .lg\:m-8 {
      margin: 2rem;
   }
   .lg\:m-9 {
      margin: 2.25rem;
   }
   .lg\:m-10 {
      margin: 2.5rem;
   }

   .lg\:mt-1 {
      margin-top: 0.25rem;
   }

   .lg\:mt-2 {
      margin-top: 0.5rem;
   }

   .lg\:mt-3 {
      margin-top: 0.75rem;
   }

   .lg\:mt-4 {
      margin-top: 1rem;
   }

   .lg\:mt-5 {
      margin-top: 1.25rem;
   }

   .lg\:mt-6 {
      margin-top: 1.5rem;
   }

   .lg\:mt-7 {
      margin-top: 1.75rem;
   }

   .lg\:mt-8 {
      margin-top: 2rem;
   }

   .lg\:mt-9 {
      margin-top: 2.25rem;
   }

   .lg\:mt-10 {
      margin-top: 2.5rem;
   }

   .lg\:mb-1 {
      margin-bottom: 0.25rem;
   }

   .lg\:mb-2 {
      margin-bottom: 0.5rem;
   }

   .lg\:mb-3 {
      margin-bottom: 0.75rem;
   }

   .lg\:mb-4 {
      margin-bottom: 1rem;
   }

   .lg\:mb-5 {
      margin-bottom: 1.25rem;
   }

   .lg\:mb-6 {
      margin-bottom: 1.5rem;
   }

   .lg\:mb-7 {
      margin-bottom: 1.75rem;
   }

   .lg\:mb-8 {
      margin-bottom: 2rem;
   }

   .lg\:mb-9 {
      margin-bottom: 2.25rem;
   }

   .lg\:mb-10 {
      margin-bottom: 2.5rem;
   }

   .lg\:mr-1 {
      margin-right: 0.25rem;
   }

   .lg\:mr-2 {
      margin-right: 0.5rem;
   }

   .lg\:mr-3 {
      margin-right: 0.75rem;
   }

   .lg\:mr-4 {
      margin-right: 1rem;
   }

   .lg\:mr-5 {
      margin-right: 1.25rem;
   }

   .lg\:mr-6 {
      margin-right: 1.5rem;
   }

   .lg\:mr-7 {
      margin-right: 1.75rem;
   }

   .lg\:mr-8 {
      margin-right: 2rem;
   }

   .lg\:mr-9 {
      margin-right: 2.25rem;
   }

   .lg\:mr-10 {
      margin-right: 2.5rem;
   }

   .lg\:ml-1 {
      margin-left: 0.25rem;
   }

   .lg\:ml-2 {
      margin-left: 0.5rem;
   }

   .lg\:ml-3 {
      margin-left: 0.75rem;
   }

   .lg\:ml-4 {
      margin-left: 1rem;
   }

   .lg\:ml-5 {
      margin-left: 1.25rem;
   }

   .lg\:ml-6 {
      margin-left: 1.5rem;
   }

   .lg\:ml-7 {
      margin-left: 1.75rem;
   }

   .lg\:ml-8 {
      margin-left: 2rem;
   }

   .lg\:ml-9 {
      margin-left: 2.25rem;
   }

   .lg\:ml-10 {
      margin-left: 2.5rem;
   }

   /* paddigns */
   .lg\:pt-1 {
      padding-top: 0.25rem;
   }

   .lg\:pt-2 {
      padding-top: 0.5rem;
   }

   .lg\:pt-3 {
      padding-top: 0.75rem;
   }

   .lg\:pt-4 {
      padding-top: 1rem;
   }

   .lg\:pt-5 {
      padding-top: 1.25rem;
   }

   .lg\:pt-6 {
      padding-top: 1.5rem;
   }

   .lg\:pt-7 {
      padding-top: 1.75rem;
   }

   .lg\:pt-8 {
      padding-top: 2rem;
   }

   .lg\:pt-9 {
      padding-top: 2.25rem;
   }

   .lg\:pt-10 {
      padding-top: 2.5rem;
   }

   .lg\:pb-1 {
      padding-bottom: 0.25rem;
   }

   .lg\:pb-2 {
      padding-bottom: 0.5rem;
   }

   .lg\:pb-3 {
      padding-bottom: 0.75rem;
   }

   .lg\:pb-4 {
      padding-bottom: 1rem;
   }

   .lg\:pb-5 {
      padding-bottom: 1.25rem;
   }

   .lg\:pb-6 {
      padding-bottom: 1.5rem;
   }

   .lg\:pb-7 {
      padding-bottom: 1.75rem;
   }

   .lg\:pb-8 {
      padding-bottom: 2rem;
   }

   .lg\:pb-9 {
      padding-bottom: 2.25rem;
   }

   .lg\:pb-10 {
      padding-bottom: 2.5rem;
   }

   .lg\:pl-1 {
      padding-left: 0.25rem;
   }

   .lg\:pl-2 {
      padding-left: 0.5rem;
   }

   .lg\:pl-3 {
      padding-left: 0.75rem;
   }

   .lg\:pl-4 {
      padding-left: 1rem;
   }

   .lg\:pl-5 {
      padding-left: 1.25rem;
   }

   .lg\:pl-6 {
      padding-left: 1.5rem;
   }

   .lg\:pl-7 {
      padding-left: 1.75rem;
   }

   .lg\:pl-8 {
      padding-left: 2rem;
   }

   .lg\:pl-9 {
      padding-left: 2.25rem;
   }

   .lg\:pl-10 {
      padding-left: 2.5rem;
   }

   .lg\:pr-1 {
      padding-right: 0.25rem;
   }

   .lg\:pr-2 {
      padding-right: 0.5rem;
   }

   .lg\:pr-3 {
      padding-right: 0.75rem;
   }

   .lg\:pr-4 {
      padding-right: 1rem;
   }

   .lg\:pr-5 {
      padding-right: 1.25rem;
   }

   .lg\:pr-6 {
      padding-right: 1.5rem;
   }

   .lg\:pr-7 {
      padding-right: 1.75rem;
   }

   .lg\:pr-8 {
      padding-right: 2rem;
   }

   .lg\:pr-9 {
      padding-right: 2.25rem;
   }

   .lg\:pr-10 {
      padding-right: 2.5rem;
   }

   .lg\:p-1 {
      padding: 0.25rem;
   }

   .lg\:p-2 {
      padding: 0.5rem;
   }

   .lg\:p-3 {
      padding: 0.75rem;
   }

   .lg\:p-4 {
      padding: 1rem;
   }

   .lg\:p-5 {
      padding: 1.25rem;
   }

   .lg\:p-6 {
      padding: 1.5rem;
   }

   .lg\:p-7 {
      padding: 1.75rem;
   }

   .lg\:p-8 {
      padding: 2rem;
   }

   .lg\:p-9 {
      padding: 2.25rem;
   }

   .lg\:p-10 {
      padding: 2.5rem;
   }

   .lg\:pv-1 {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
   }

   .lg\:pv-2 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
   }

   .lg\:pv-3 {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
   }

   .lg\:pv-4 {
      padding-top: 1rem;
      padding-bottom: 1rem;
   }

   .lg\:pv-5 {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
   }

   .lg\:pv-6 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
   }

   .lg\:pv-7 {
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;
   }

   .lg\:pv-8 {
      padding-top: 2rem;
      padding-bottom: 2rem;
   }

   .lg\:pv-9 {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
   }

   .lg\:pv-10 {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
   }

   .lg\:ph-1 {
      padding-right: 0.25rem;
      padding-left: 0.25rem;
   }

   .lg\:ph-2 {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
   }

   .lg\:ph-3 {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
   }

   .lg\:ph-4 {
      padding-right: 1rem;
      padding-left: 1rem;
   }

   .lg\:ph-5 {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
   }

   .lg\:ph-6 {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
   }

   .lg\:ph-7 {
      padding-right: 1.75rem;
      padding-left: 1.75rem;
   }

   .lg\:ph-8 {
      padding-right: 2rem;
      padding-left: 2rem;
   }

   .lg\:ph-9 {
      padding-right: 2.25rem;
      padding-left: 2.25rem;
   }

   .lg\:ph-10 {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
   }

   /* tamanos de alto y largo */
   .lg\:w-0 {
      width: 0px;
   }
   .lg\:w-1 {
      width: 0.25rem;
   }
   .lg\:w-2 {
      width: 0.5rem;
   }
   .lg\:w-3 {
      width: 0.75rem;
   }
   .lg\:w-4 {
      width: 1rem;
   }
   .lg\:w-5 {
      width: 1.25rem;
   }
   .lg\:w-6 {
      width: 1.5rem;
   }
   .lg\:w-7 {
      width: 1.75rem;
   }
   .lg\:w-8 {
      width: 2rem;
   }
   .lg\:w-9 {
      width: 2.25rem;
   }
   .lg\:w-10 {
      width: 2.5rem;
   }
   .lg\:w-11 {
      width: 2.75rem;
   }
   .lg\:w-12 {
      width: 3rem;
   }
   .lg\:w-13 {
      width: 3.25rem;
   }
   .lg\:w-14 {
      width: 3.5rem;
   }
   .lg\:w-15 {
      width: 3.75rem;
   }
   .lg\:w-16 {
      width: 4rem;
   }
   .lg\:w-17 {
      width: 4.25rem;
   }
   .lg\:w-18 {
      width: 4.5rem;
   }
   .lg\:w-19 {
      width: 4.75rem;
   }
   .lg\:w-20 {
      width: 5rem;
   }
   .lg\:w-22 {
      width: 5.5rem;
   }
   .lg\:w-24 {
      width: 6rem;
   }
   .lg\:w-26 {
      width: 6.5rem;
   }
   .lg\:w-28 {
      width: 7rem;
   }
   .lg\:w-30 {
      width: 7.5rem;
   }
   .lg\:w-32 {
      width: 8rem;
   }
   .lg\:w-34 {
      width: 8.5rem;
   }
   .lg\:w-36 {
      width: 9rem;
   }
   .lg\:w-38 {
      width: 9.5rem;
   }
   .lg\:w-40 {
      width: 10rem;
   }
   .lg\:w-42 {
      width: 10.5rem;
   }
   .lg\:w-44 {
      width: 11rem;
   }
   .lg\:w-46 {
      width: 11.5rem;
   }
   .lg\:w-48 {
      width: 12rem;
   }
   .lg\:w-50 {
      width: 12.5rem;
   }
   .lg\:w-52 {
      width: 13rem;
   }
   .lg\:w-54 {
      width: 13.5rem;
   }
   .lg\:w-56 {
      width: 14rem;
   }
   .lg\:w-58 {
      width: 14.5rem;
   }
   .lg\:w-60 {
      width: 15rem;
   }
   .lg\:w-62 {
      width: 15.5rem;
   }
   .lg\:w-64 {
      width: 16rem;
   }
   .lg\:w-66 {
      width: 16.5rem;
   }
   .lg\:w-68 {
      width: 17rem;
   }
   .lg\:w-70 {
      width: 17.5rem;
   }
   .lg\:w-72 {
      width: 18rem;
   }
   .lg\:w-74 {
      width: 18.5rem;
   }
   .lg\:w-76 {
      width: 19rem;
   }
   .lg\:w-78 {
      width: 19.5rem;
   }
   .lg\:w-80 {
      width: 20rem;
   }
   .lg\:w-82 {
      width: 20.5rem;
   }
   .lg\:w-84 {
      width: 21rem;
   }
   .lg\:w-86 {
      width: 21.5rem;
   }
   .lg\:w-88 {
      width: 22rem;
   }
   .lg\:w-90 {
      width: 22.5rem;
   }
   .lg\:w-92 {
      width: 23rem;
   }
   .lg\:w-94 {
      width: 24rem;
   }
   .lg\:w-96 {
      width: 25rem;
   }
   .lg\:w-98 {
      width: 26.5rem;
   }
   .lg\:w-100 {
      width: 28rem;
   }
   .lg\:w-max {
      width: 100vh;
   }
   .lg\:w-100\% {
      width: 100%;
   }
   .lg\:w-95\% {
      width: 95%;
   }
   .lg\:w-90\% {
      width: 90%;
   }
   .lg\:w-85\% {
      width: 85%;
   }
   .lg\:w-80\% {
      width: 80%;
   }
   .lg\:w-75\% {
      width: 75%;
   }
   .lg\:w-70\% {
      width: 70%;
   }
   .lg\:w-65\% {
      width: 65%;
   }
   .lg\:w-60\% {
      width: 60%;
   }
   .lg\:w-55\% {
      width: 55%;
   }
   .lg\:w-50\% {
      width: 50%;
   }
   .lg\:w-45\% {
      width: 45%;
   }
   .lg\:w-40\% {
      width: 40%;
   }
   .lg\:w-35\% {
      width: 35%;
   }
   .lg\:w-30\% {
      width: 30%;
   }
   .lg\:w-25\% {
      width: 25%;
   }
   .lg\:w-20\% {
      width: 20%;
   }
   .lg\:w-15\% {
      width: 15%;
   }
   .lg\:w-10\% {
      width: 10%;
   }
   .lg\:w-auto {
      width: auto;
   }
   .lg\:w-fit-content {
      width: fit-content;
   }

   /* altos */
   .lg\:h-0 {
      height: 0px;
   }
   .lg\:h-1 {
      height: 0.25rem;
   }
   .lg\:h-2 {
      height: 0.5rem;
   }
   .lg\:h-3 {
      height: 0.75rem;
   }
   .lg\:h-4 {
      height: 1rem;
   }
   .lg\:h-5 {
      height: 1.25rem;
   }
   .lg\:h-6 {
      height: 1.5rem;
   }
   .lg\:h-7 {
      height: 1.75rem;
   }
   .lg\:h-8 {
      height: 2rem;
   }
   .lg\:h-9 {
      height: 2.25rem;
   }
   .lg\:h-10 {
      height: 2.5rem;
   }
   .lg\:h-11 {
      height: 2.75rem;
   }
   .lg\:h-12 {
      height: 3rem;
   }
   .lg\:h-13 {
      height: 3.25rem;
   }
   .lg\:h-14 {
      height: 3.5rem;
   }
   .lg\:h-15 {
      height: 3.75rem;
   }
   .lg\:h-16 {
      height: 4rem;
   }
   .lg\:h-17 {
      height: 4.25rem;
   }
   .lg\:h-18 {
      height: 4.5rem;
   }
   .lg\:h-19 {
      height: 4.75rem;
   }
   .lg\:h-20 {
      height: 5rem;
   }
   .lg\:h-22 {
      height: 5.5rem;
   }
   .lg\:h-24 {
      height: 6rem;
   }
   .lg\:h-26 {
      height: 6.5rem;
   }
   .lg\:h-28 {
      height: 7rem;
   }
   .lg\:h-30 {
      height: 7.5rem;
   }
   .lg\:h-32 {
      height: 8rem;
   }
   .lg\:h-34 {
      height: 8.5rem;
   }
   .lg\:h-36 {
      height: 9rem;
   }
   .lg\:h-38 {
      height: 9.5rem;
   }
   .lg\:h-40 {
      height: 10rem;
   }
   .lg\:h-42 {
      height: 10.5rem;
   }
   .lg\:h-44 {
      height: 11rem;
   }
   .lg\:h-46 {
      height: 11.5rem;
   }
   .lg\:h-48 {
      height: 12rem;
   }
   .lg\:h-50 {
      height: 12.5rem;
   }
   .lg\:h-52 {
      height: 13rem;
   }
   .lg\:h-54 {
      height: 13.5rem;
   }
   .lg\:h-56 {
      height: 14rem;
   }
   .lg\:h-58 {
      height: 14.5rem;
   }
   .lg\:h-60 {
      height: 15rem;
   }
   .lg\:h-62 {
      height: 15.5rem;
   }
   .lg\:h-64 {
      height: 16rem;
   }
   .lg\:h-66 {
      height: 16.5rem;
   }
   .lg\:h-68 {
      height: 17rem;
   }
   .lg\:h-70 {
      height: 17.5rem;
   }
   .lg\:h-72 {
      height: 18rem;
   }
   .lg\:h-74 {
      height: 18.5rem;
   }
   .lg\:h-76 {
      height: 19rem;
   }
   .lg\:h-78 {
      height: 19.5rem;
   }
   .lg\:h-80 {
      height: 20rem;
   }
   .lg\:h-82 {
      height: 20.5rem;
   }
   .lg\:h-84 {
      height: 21rem;
   }
   .lg\:h-86 {
      height: 21.5rem;
   }
   .lg\:h-88 {
      height: 22rem;
   }
   .lg\:h-90 {
      height: 22.5rem;
   }
   .lg\:h-92 {
      height: 23rem;
   }
   .lg\:h-94 {
      height: 24rem;
   }
   .lg\:h-96 {
      height: 25rem;
   }
   .lg\:h-98 {
      height: 26.5rem;
   }
   .lg\:h-100 {
      height: 28rem;
   }
   .lg\:h-max {
      height: 100vh;
   }
   .lg\:h-100\% {
      height: 100%;
   }
   .lg\:h-95\% {
      height: 95%;
   }
   .lg\:h-90\% {
      height: 90%;
   }
   .lg\:h-85\% {
      height: 85%;
   }
   .lg\:h-80\% {
      height: 80%;
   }
   .lg\:h-75\% {
      height: 75%;
   }
   .lg\:h-70\% {
      height: 70%;
   }
   .lg\:h-65\% {
      height: 65%;
   }
   .lg\:h-60\% {
      height: 60%;
   }
   .lg\:h-55\% {
      height: 55%;
   }
   .lg\:h-50\% {
      height: 50%;
   }
   .lg\:h-45\% {
      height: 45%;
   }
   .lg\:h-40\% {
      height: 40%;
   }
   .lg\:h-35\% {
      height: 35%;
   }
   .lg\:h-30\% {
      height: 30%;
   }
   .lg\:h-25\% {
      height: 25%;
   }
   .lg\:h-20\% {
      height: 20%;
   }
   .lg\:h-15\% {
      height: 15%;
   }
   .lg\:h-10\% {
      height: 10%;
   }
   .lg\:h-auto {
      height: auto;
   }
   .lg\:h-fit-content {
      height: fit-content;
   }

   /* z index helpers */
   .lg\:z-none {
      z-index: 0;
   }

   .lg\:z-1 {
      z-index: 10;
   }

   .lg\:z-2 {
      z-index: 20;
   }

   .lg\:z-3 {
      z-index: 30;
   }

   .lg\:z-4 {
      z-index: 60;
   }

   .lg\:z-5 {
      z-index: 80;
   }

   .lg\:z-6 {
      z-index: 100;
   }

   .lg\:z-7 {
      z-index: 120;
   }

   .lg\:z-8 {
      z-index: 140;
   }

   .lg\:z-9 {
      z-index: 160;
   }

   .lg\:z-10 {
      z-index: 200;
   }

   .lg\:z-max {
      z-index: 1000;
   }

   .lg\:top-0 {
      top: 0;
   }

   .lg\:bottom-0 {
      bottom: 0;
   }

   .lg\:left-0 {
      left: 0;
   }

   .lg\:right-0 {
      right: 0;
   }

   .lg\:opacity-1 {
      opacity: 0.1;
   }

   .lg\:opacity-2 {
      opacity: 0.2;
   }

   .lg\:opacity-3 {
      opacity: 0.3;
   }

   .lg\:opacity-4 {
      opacity: 0.4;
   }

   .lg\:opacity-5 {
      opacity: 0.5;
   }

   .lg\:opacity-6 {
      opacity: 0.6;
   }

   .lg\:opacity-7 {
      opacity: 0.7;
   }

   .lg\:opacity-8 {
      opacity: 0.8;
   }

   .lg\:opacity-9 {
      opacity: 0.9;
   }

   .lg\:opacity-10 {
      opacity: 1;
   }

   /* cursores :::::::::::::::::::*/
   .lg\:cursor-pointer {
      cursor: pointer;
   }

   .lg\:cursor-copy {
      cursor: copy;
   }

   .lg\:cursor-help {
      cursor: help;
   }

   .lg\:cursor-text {
      cursor: text;
   }

   /* backgroud imagenes posiciones*/
   .lg\:bg-repeat-no-repeat {
      background-repeat: no-repeat;
   }

   .lg\:bg-repeat-space {
      background-repeat: space;
   }

   .lg\:bg-repeat-round {
      background-repeat: round;
   }

   .lg\:bg-size-cover {
      background-size: cover;
   }

   .lg\:bg-size-contain {
      background-size: contain;
   }

   .lg\:bg-position-center {
      background-position: center;
   }

   .lg\:bg-position-bottom {
      background-position: bottom;
   }

   .lg\:bg-position-top {
      background-position: top;
   }

   .lg\:bg-position-left {
      background-position: left;
   }

   .lg\:bg-position-right {
      background-position: right;
   }

   /* posisionamiento de objetos :::::::::::::::::*/
   .lg\:object-cover {
      object-fit: cover;
   }

   .lg\:object-contain {
      object-fit: contain;
   }

   .lg\:object-fill {
      object-fit: fill;
   }

   /* decoracion de textos:::::::::::::::::::::::::::: */
   .lg\:text-decoration-none {
      text-decoration: none;
   }

   .lg\:text-decoration-line {
      text-decoration: line-through;
   }

   .lg\:text-decoration-underline {
      text-decoration: underline;
   }

   /* text tranform::::::::::::::::::::::::::::::::::::::: */
   .lg\:text-capitalize {
      text-transform: capitalize;
   }

   .lg\:text-lowercase {
      text-transform: lowercase;
   }

   .lg\:text-uppercase {
      text-transform: uppercase;
   }

   /* rotaciones */
   .lg\:rotate-0 {
      transform: rotate(0deg);
   }

   .lg\:rotate-45 {
      transform: rotate(45deg);
   }

   .lg\:rotate-90 {
      transform: rotate(90deg);
   }

   .lg\:rotate-135 {
      transform: rotate(135deg);
   }

   .lg\:rotate-180 {
      transform: rotate(180deg);
   }

   .lg\:rotate-225 {
      transform: rotate(225deg);
   }

   .lg\:rotate-270 {
      transform: rotate(270deg);
   }

   .lg\:rotate-315 {
      transform: rotate(315deg);
   }

   .lg\:rotate-360 {
      transform: rotate(360deg);
   }
}
