<!DOCTYPE html>
<html lang="">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0" />
      <link rel="icon" href="./favicon.ico" />
      <title><%= htmlWebpackPlugin.options.title %></title>
      <link rel="stylesheet" href="./css/app.css?3434" />
      <link rel="stylesheet" href="./css/style.css?3434" />
   </head>
   <body class="col w-100% h-max bg-red p-2">
      <div class="row w-100% bg-blue p-2">
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur amet maxime
         laboriosam esse explicabo temporibus fuga? Aperiam fugiat laudantium, aliquid nihil maiores
         impedit quaerat sit quam cum doloremque alias reiciendis?
      </div>

      <div class="flex-1 row bg-yellow p-2">
         <div class="col-8 p-2 bg-orange col">
            <div class="row bg-green w-100% h-20 position-relative">
               <div class="scroll-horizontal h-20 w-100%">
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
               </div>
            </div>

            <div class="flex-1 position-relative h-100%">
               <div class="scroll-vertical scroll:bar-blue">
                  <p class="text-size-1">Titulo s1</p>
                  <p class="text-size-2">Titulo s1</p>
                  <p class="text-size-3">Titulo s1</p>
                  <p class="text-size-4">Titulo s1</p>
                  <p class="text-size-5">Titulo s1</p>
                  <p class="text-size-6">Titulo s1</p>
                  <p class="text-size-7">Titulo s1</p>
                  <p class="text-size-8">Titulo s1</p>
                  <p class="text-size-9">Titulo s1</p>
                  <p class="text-size-10">Titulo s1</p>
                  <div class="row bg-dark w-100% p-2">
                     <button class="hover:bg-white-3 bg-red p-5 text-dark">hola mundo</button>
                  </div>

                  <div class="d-flex" style="overflow-x: scroll">
                     <div class="bg-red p-1 w-100 h-50">Holas</div>
                     <div class="bg-pink p-1 w-100 h-50">Pedroasdds</div>
                     <div class="bg-red p-1 w-100 h-50">Holas</div>
                     <div class="bg-pink p-1 w-100 h-50">Pedroasdds</div>
                  </div>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
               </div>
            </div>
         </div>
         <div class="col-4 p-2 bg-orange col">
            <div class="row bg-dark w-100% h-10 position-relative mb-5">
               <div class="scroll-horizontal h-100% w-100%">
                  <button class="h-100% bg-blue p-2 mr-1 text-white">Carnavallllll</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
                  <button class="h-100% bg-blue p-2 mr-1 text-white">HOla mundo</button>
               </div>
            </div>

            <div class="flex-1 position-relative h-100%">
               <div class="scroll-vertical scroll:bar-blue">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut, iure
                  quos omnis reiciendis nostrum expedita, <br /><br />
                  esse minus rerum itaque distinctio deleniti odio facilis facere magnam iste,
                  dignissimos praesentium voluptates.<br /><br />
               </div>
            </div>
         </div>
      </div>
      <div class="row bg-green p-2">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis et libero voluptates
         ipsa dignissimos enim delectus nemo? Repellendus nesciunt, tenetur laboriosam debitis quos
         similique ipsam sapiente vitae quas consequuntur sequi.
      </div>

      <script>
         // const scrollContainer = document.querySelector('scroll-horizontal');
         // const scrollContainer = document.getElementsByClassName('scroll-horizontal');
         // const scrollContainer = document.getElementsById('logo');

         // scrollContainer.addEventListener('wheel', (evt) => {
         //    evt.preventDefault();
         //    scrollContainer.scrollLeft += evt.deltaY;
         // });

         let scrollContainer2 = document.getElementsByClassName('scroll-horizontal');

         for (var i = 0; i < scrollContainer2.length; i++) {
            //obtenemos el item seleccionado
            (function (index) {
               //verificamos la compatibildad con los navegadores
               if (scrollContainer2[index].addEventListener) {
                  if (navigator.userAgent.search('Firefox') >= 0) {
                     scrollContainer2[i].addEventListener(
                        'DOMMouseScroll',
                        (e) => scrollHorizontally(e, scrollContainer2[index]),
                        false
                     );
                  } else {
                     scrollContainer2[index].addEventListener(
                        'mousewheel',
                        (e) => scrollHorizontally(e, scrollContainer2[index]),
                        false
                     );
                  }
               } else {
                  // IE 6/7/8
                  scrollContainer2[i].attachEvent('onmousewheel', (e) => {
                     scrollHorizontally(e, item);
                  });
               }
            })(i);
         }

         function scrollHorizontally(e, scrollContainer2) {
            e = window.event || e;
            var delta = Math.max(-1, Math.min(1, e.wheelDelta || -e.detail));
            scrollContainer2.scrollLeft -= delta * 40; // Multiplied by 40
            e.preventDefault();
         }
      </script>
   </body>
</html>
