@media screen and (min-width: 1200px) {
   .lg\:text-size-1 {
      font-size: var(--movil-text-size-1);
   }
   .lg\:text-size-2 {
      font-size: var(--movil-text-size-2);
   }
   .lg\:text-size-3 {
      font-size: var(--movil-text-size-3);
   }
   .lg\:text-size-4 {
      font-size: var(--movil-text-size-4);
   }
   .lg\:text-size-5 {
      font-size: var(--movil-text-size-5);
   }
   .lg\:text-size-6 {
      font-size: var(--movil-text-size-6);
   }
   .lg\:text-size-7 {
      font-size: var(--movil-text-size-7);
   }
   .lg\:text-size-8 {
      font-size: var(--movil-text-size-8);
   }
   .lg\:text-size-9 {
      font-size: var(--movil-text-size-9);
   }
   .lg\:text-size-10 {
      font-size: var(--movil-text-size-10);
   }
   /* alineacion de texto*/
   .lg\:text-center {
      text-align: center;
   }
   .lg\:text-justify {
      text-align: justify;
   }
   .lg\:text-left {
      text-align: left;
   }
   .lg\:text-right {
      text-align: right;
   }
   /* border radius */
   .lg\:border-radius {
      border-radius: 0.2rem;
   }
   .lg\:border-radius-1 {
      border-radius: 0.35rem;
   }
   .lg\:border-radius-2 {
      border-radius: 0.5rem;
   }
   .lg\:border-radius-3 {
      border-radius: 0.7rem;
   }
   .lg\:border-radius-4 {
      border-radius: 1rem;
   }
   .lg\:border-radius-5 {
      border-radius: 1.5rem;
   }
   .lg\:border-radius-6 {
      border-radius: 1.8rem;
   }
   .lg\:border-radius-7 {
      border-radius: 2.2rem;
   }
   .lg\:border-radius-8 {
      border-radius: 2.8rem;
   }
   .lg\:border-radius-9 {
      border-radius: 3.6rem;
   }
   .lg\:border-radius-10 {
      border-radius: 4.8rem;
   }

   .lg\:border-radius-top-left {
      border-top-left-radius: 0.2rem;
   }
   .lg\:border-radius-top-left-1 {
      border-top-left-radius: 0.35rem;
   }
   .lg\:border-radius-top-left-2 {
      border-top-left-radius: 0.5rem;
   }
   .lg\:border-radius-top-left-3 {
      border-top-left-radius: 0.7rem;
   }
   .lg\:border-radius-top-left-4 {
      border-top-left-radius: 1rem;
   }
   .lg\:border-radius-top-left-5 {
      border-top-left-radius: 1.5rem;
   }
   .lg\:border-radius-top-left-6 {
      border-top-left-radius: 1.8rem;
   }
   .lg\:border-radius-top-left-7 {
      border-top-left-radius: 2.2rem;
   }
   .lg\:border-radius-top-left-8 {
      border-top-left-radius: 2.8rem;
   }
   .lg\:border-radius-top-left-9 {
      border-top-left-radius: 3.6rem;
   }
   .lg\:border-radius-top-left-10 {
      border-top-left-radius: 4.8rem;
   }

   .lg\:border-radius-top-right {
      border-top-right-radius: 0.2rem;
   }
   .lg\:border-radius-top-right-1 {
      border-top-right-radius: 0.35rem;
   }
   .lg\:border-radius-top-right-2 {
      border-top-right-radius: 0.5rem;
   }
   .lg\:border-radius-top-right-3 {
      border-top-right-radius: 0.7rem;
   }
   .lg\:border-radius-top-right-4 {
      border-top-right-radius: 1rem;
   }
   .lg\:border-radius-top-right-5 {
      border-top-right-radius: 1.5rem;
   }
   .lg\:border-radius-top-right-6 {
      border-top-right-radius: 1.8rem;
   }
   .lg\:border-radius-top-right-7 {
      border-top-right-radius: 2.2rem;
   }
   .lg\:border-radius-top-right-8 {
      border-top-right-radius: 2.8rem;
   }
   .lg\:border-radius-top-right-9 {
      border-top-right-radius: 3.6rem;
   }
   .lg\:border-radius-top-right-10 {
      border-top-right-radius: 4.8rem;
   }

   .lg\:border-radius-bottom-left {
      border-bottom-left-radius: 0.2rem;
   }
   .lg\:border-radius-bottom-left-1 {
      border-bottom-left-radius: 0.35rem;
   }
   .lg\:border-radius-bottom-left-2 {
      border-bottom-left-radius: 0.5rem;
   }
   .lg\:border-radius-bottom-left-3 {
      border-bottom-left-radius: 0.7rem;
   }
   .lg\:border-radius-bottom-left-4 {
      border-bottom-left-radius: 1rem;
   }
   .lg\:border-radius-bottom-left-5 {
      border-bottom-left-radius: 1.5rem;
   }
   .lg\:border-radius-bottom-left-6 {
      border-bottom-left-radius: 1.8rem;
   }
   .lg\:border-radius-bottom-left-7 {
      border-bottom-left-radius: 2.2rem;
   }
   .lg\:border-radius-bottom-left-8 {
      border-bottom-left-radius: 2.8rem;
   }
   .lg\:border-radius-bottom-left-9 {
      border-bottom-left-radius: 3.6rem;
   }
   .lg\:border-radius-bottom-left-10 {
      border-bottom-left-radius: 4.8rem;
   }

   .lg\:border-radius-bottom-right {
      border-bottom-right-radius: 0.2rem;
   }
   .lg\:border-radius-bottom-right-1 {
      border-bottom-right-radius: 0.35rem;
   }
   .lg\:border-radius-bottom-right-2 {
      border-bottom-right-radius: 0.5rem;
   }
   .lg\:border-radius-bottom-right-3 {
      border-bottom-right-radius: 0.7rem;
   }
   .lg\:border-radius-bottom-right-4 {
      border-bottom-right-radius: 1rem;
   }
   .lg\:border-radius-bottom-right-5 {
      border-bottom-right-radius: 1.5rem;
   }
   .lg\:border-radius-bottom-right-6 {
      border-bottom-right-radius: 1.8rem;
   }
   .lg\:border-radius-bottom-right-7 {
      border-bottom-right-radius: 2.2rem;
   }
   .lg\:border-radius-bottom-right-8 {
      border-bottom-right-radius: 2.8rem;
   }
   .lg\:border-radius-bottom-right-9 {
      border-bottom-right-radius: 3.6rem;
   }
   .lg\:border-radius-bottom-right-10 {
      border-bottom-right-radius: 4.8rem;
   }

   /* display:::::::::::::::::::::::::::::::::::::::: */
   .lg\:inline-block {
      display: inline-block;
   }
   .lg\:block {
      display: block;
   }
   .lg\:flex {
      display: flex;
   }
   .lg\:none {
      display: none;
   }

   .lg\:flex-1 {
      flex: 1;
   }
   .lg\:flex-2 {
      flex: 2;
   }
   .lg\:flex-3 {
      flex: 3;
   }
   .lg\:flex-4 {
      flex: 4;
   }
   .lg\:flex-5 {
      flex: 5;
   }
   .lg\:flex-6 {
      flex: 6;
   }

   .lg\:align-center {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .lg\:align-start {
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
   }
   .lg\:align-end {
      -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
   }
   .lg\:justify-center {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }

   .lg\:justify-start {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-start;
   }

   .lg\:justify-end {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-end;
   }

   .lg\:position-relative {
      position: relative;
   }
   .lg\:position-absolute {
      position: absolute;
   }
   .lg\:position-fixed {
      position: fixed;
   }

   /* margin y opaddigd :::::::::::::::::::::::::::::*/
   /* margin */
   .lg\:m-1 {
      margin: 0.25rem;
   }
   .lg\:m-2 {
      margin: 0.5rem;
   }
   .lg\:m-3 {
      margin: 0.75rem;
   }
   .lg\:m-4 {
      margin: 1rem;
   }
   .lg\:m-5 {
      margin: 1.25rem;
   }
   .lg\:m-6 {
      margin: 1.5rem;
   }
   .lg\:m-7 {
      margin: 1.75rem;
   }
   .lg\:m-8 {
      margin: 2rem;
   }
   .lg\:m-9 {
      margin: 2.25rem;
   }
   .lg\:m-10 {
      margin: 2.5rem;
   }
   .lg\:mt-1 {
      margin-top: 0.25rem;
   }
   .lg\:mt-2 {
      margin-top: 0.5rem;
   }
   .lg\:mt-3 {
      margin-top: 0.75rem;
   }
   .lg\:mt-4 {
      margin-top: 1rem;
   }
   .lg\:mt-5 {
      margin-top: 1.25rem;
   }
   .lg\:mt-6 {
      margin-top: 1.5rem;
   }
   .lg\:mt-7 {
      margin-top: 1.75rem;
   }
   .lg\:mt-8 {
      margin-top: 2rem;
   }
   .lg\:mt-9 {
      margin-top: 2.25rem;
   }
   .lg\:mt-10 {
      margin-top: 2.5rem;
   }

   .lg\:mb-1 {
      margin-bottom: 0.25rem;
   }
   .lg\:mb-2 {
      margin-bottom: 0.5rem;
   }
   .lg\:mb-3 {
      margin-bottom: 0.75rem;
   }
   .lg\:mb-4 {
      margin-bottom: 1rem;
   }
   .lg\:mb-5 {
      margin-bottom: 1.25rem;
   }
   .lg\:mb-6 {
      margin-bottom: 1.5rem;
   }
   .lg\:mb-7 {
      margin-bottom: 1.75rem;
   }
   .lg\:mb-8 {
      margin-bottom: 2rem;
   }
   .lg\:mb-9 {
      margin-bottom: 2.25rem;
   }
   .lg\:mb-10 {
      margin-bottom: 2.5rem;
   }

   .lg\:mr-1 {
      margin-right: 0.25rem;
   }
   .lg\:mr-2 {
      margin-right: 0.5rem;
   }
   .lg\:mr-3 {
      margin-right: 0.75rem;
   }
   .lg\:mr-4 {
      margin-right: 1rem;
   }
   .lg\:mr-5 {
      margin-right: 1.25rem;
   }
   .lg\:mr-6 {
      margin-right: 1.5rem;
   }
   .lg\:mr-7 {
      margin-right: 1.75rem;
   }
   .lg\:mr-8 {
      margin-right: 2rem;
   }
   .lg\:mr-9 {
      margin-right: 2.25rem;
   }
   .lg\:mr-10 {
      margin-right: 2.5rem;
   }

   .lg\:ml-1 {
      margin-left: 0.25rem;
   }
   .lg\:ml-2 {
      margin-left: 0.5rem;
   }
   .lg\:ml-3 {
      margin-left: 0.75rem;
   }
   .lg\:ml-4 {
      margin-left: 1rem;
   }
   .lg\:ml-5 {
      margin-left: 1.25rem;
   }
   .lg\:ml-6 {
      margin-left: 1.5rem;
   }
   .lg\:ml-7 {
      margin-left: 1.75rem;
   }
   .lg\:ml-8 {
      margin-left: 2rem;
   }
   .lg\:ml-9 {
      margin-left: 2.25rem;
   }
   .lg\:ml-10 {
      margin-left: 2.5rem;
   }
   /* paddigns */
   .lg\:pt-1 {
      padding-top: 0.25rem;
   }
   .lg\:pt-2 {
      padding-top: 0.5rem;
   }
   .lg\:pt-3 {
      padding-top: 0.75rem;
   }
   .lg\:pt-4 {
      padding-top: 1rem;
   }
   .lg\:pt-5 {
      padding-top: 1.25rem;
   }
   .lg\:pt-6 {
      padding-top: 1.5rem;
   }
   .lg\:pt-7 {
      padding-top: 1.75rem;
   }
   .lg\:pt-8 {
      padding-top: 2rem;
   }
   .lg\:pt-9 {
      padding-top: 2.25rem;
   }
   .lg\:pt-10 {
      padding-top: 2.5rem;
   }
   .lg\:pb-1 {
      padding-bottom: 0.25rem;
   }
   .lg\:pb-2 {
      padding-bottom: 0.5rem;
   }
   .lg\:pb-3 {
      padding-bottom: 0.75rem;
   }
   .lg\:pb-4 {
      padding-bottom: 1rem;
   }
   .lg\:pb-5 {
      padding-bottom: 1.25rem;
   }
   .lg\:pb-6 {
      padding-bottom: 1.5rem;
   }
   .lg\:pb-7 {
      padding-bottom: 1.75rem;
   }
   .lg\:pb-8 {
      padding-bottom: 2rem;
   }
   .lg\:pb-9 {
      padding-bottom: 2.25rem;
   }
   .lg\:pb-10 {
      padding-bottom: 2.5rem;
   }
   .lg\:pl-1 {
      padding-left: 0.25rem;
   }
   .lg\:pl-2 {
      padding-left: 0.5rem;
   }
   .lg\:pl-3 {
      padding-left: 0.75rem;
   }
   .lg\:pl-4 {
      padding-left: 1rem;
   }
   .lg\:pl-5 {
      padding-left: 1.25rem;
   }
   .lg\:pl-6 {
      padding-left: 1.5rem;
   }
   .lg\:pl-7 {
      padding-left: 1.75rem;
   }
   .lg\:pl-8 {
      padding-left: 2rem;
   }
   .lg\:pl-9 {
      padding-left: 2.25rem;
   }
   .lg\:pl-10 {
      padding-left: 2.5rem;
   }

   .lg\:pr-1 {
      padding-right: 0.25rem;
   }
   .lg\:pr-2 {
      padding-right: 0.5rem;
   }
   .lg\:pr-3 {
      padding-right: 0.75rem;
   }
   .lg\:pr-4 {
      padding-right: 1rem;
   }
   .lg\:pr-5 {
      padding-right: 1.25rem;
   }
   .lg\:pr-6 {
      padding-right: 1.5rem;
   }
   .lg\:pr-7 {
      padding-right: 1.75rem;
   }
   .lg\:pr-8 {
      padding-right: 2rem;
   }
   .lg\:pr-9 {
      padding-right: 2.25rem;
   }
   .lg\:pr-10 {
      padding-right: 2.5rem;
   }

   .lg\:p-1 {
      padding: 0.25rem;
   }
   .lg\:p-2 {
      padding: 0.5rem;
   }
   .lg\:p-3 {
      padding: 0.75rem;
   }
   .lg\:p-4 {
      padding: 1rem;
   }
   .lg\:p-5 {
      padding: 1.25rem;
   }
   .lg\:p-6 {
      padding: 1.5rem;
   }
   .lg\:p-7 {
      padding: 1.75rem;
   }
   .lg\:p-8 {
      padding: 2rem;
   }
   .lg\:p-9 {
      padding: 2.25rem;
   }
   .lg\:p-10 {
      padding: 2.5rem;
   }

   .lg\:pv-1 {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
   }
   .lg\:pv-2 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
   }
   .lg\:pv-3 {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
   }
   .lg\:pv-4 {
      padding-top: 1rem;
      padding-bottom: 1rem;
   }
   .lg\:pv-5 {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
   }
   .lg\:pv-6 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
   }
   .lg\:pv-7 {
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;
   }
   .lg\:pv-8 {
      padding-top: 2rem;
      padding-bottom: 2rem;
   }
   .lg\:pv-9 {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
   }
   .lg\:pv-10 {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
   }

   .lg\:ph-1 {
      padding-right: 0.25rem;
      padding-left: 0.25rem;
   }
   .lg\:ph-2 {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
   }
   .lg\:ph-3 {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
   }
   .lg\:ph-4 {
      padding-right: 1rem;
      padding-left: 1rem;
   }
   .lg\:ph-5 {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
   }
   .lg\:ph-6 {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
   }
   .lg\:ph-7 {
      padding-right: 1.75rem;
      padding-left: 1.75rem;
   }
   .lg\:ph-8 {
      padding-right: 2rem;
      padding-left: 2rem;
   }
   .lg\:ph-9 {
      padding-right: 2.25rem;
      padding-left: 2.25rem;
   }
   .lg\:ph-10 {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
   }

   /* tamanos de alto y largo */
   .lg\:w-0 {
      width: 0px;
   }
   .lg\:w-1 {
      width: 0.25rem;
   }
   .lg\:w-2 {
      width: 0.5rem;
   }
   .lg\:w-3 {
      width: 0.75rem;
   }
   .lg\:w-4 {
      width: 1rem;
   }
   .lg\:w-5 {
      width: 1.25rem;
   }
   .lg\:w-6 {
      width: 1.5rem;
   }
   .lg\:w-7 {
      width: 1.75rem;
   }
   .lg\:w-8 {
      width: 2rem;
   }
   .lg\:w-9 {
      width: 2.25rem;
   }
   .lg\:w-10 {
      width: 2.5rem;
   }
   .lg\:w-11 {
      width: 2.75rem;
   }
   .lg\:w-12 {
      width: 3rem;
   }
   .lg\:w-13 {
      width: 3.25rem;
   }
   .lg\:w-14 {
      width: 3.5rem;
   }
   .lg\:w-15 {
      width: 3.75rem;
   }
   .lg\:w-16 {
      width: 4rem;
   }
   .lg\:w-17 {
      width: 4.25rem;
   }
   .lg\:w-18 {
      width: 4.5rem;
   }
   .lg\:w-19 {
      width: 4.75rem;
   }
   .lg\:w-20 {
      width: 5rem;
   }
   .lg\:w-24 {
      width: 6rem;
   }
   .lg\:w-28 {
      width: 7rem;
   }
   .lg\:w-32 {
      width: 8rem;
   }
   .lg\:w-36 {
      width: 9rem;
   }
   .lg\:w-40 {
      width: 10rem;
   }
   .lg\:w-44 {
      width: 11rem;
   }
   .lg\:w-48 {
      width: 12rem;
   }
   .lg\:w-52 {
      width: 13rem;
   }
   .lg\:w-56 {
      width: 14rem;
   }
   .lg\:w-60 {
      width: 15rem;
   }
   .lg\:w-64 {
      width: 16rem;
   }
   .lg\:w-72 {
      width: 18rem;
   }
   .lg\:w-80 {
      width: 20rem;
   }
   .lg\:w-96 {
      width: 24rem;
   }
   .lg\:w-100 {
      width: 28rem;
   }
   .lg\:w-max {
      width: 100vh;
   }
   .lg\:w-100\% {
      width: 100%;
   }
   .lg\:w-90\% {
      width: 90%;
   }
   .lg\:w-80\% {
      width: 80%;
   }
   .lg\:w-70\% {
      width: 70%;
   }
   .lg\:w-60\% {
      width: 60%;
   }
   .lg\:w-50\% {
      width: 50%;
   }
   .lg\:w-40\% {
      width: 40%;
   }
   .lg\:w-30\% {
      width: 30%;
   }
   .lg\:w-20\% {
      width: 20%;
   }
   .lg\:w-10\% {
      width: 10%;
   }
   .lg\:w-auto {
      width: auto;
   }
   /* altos */
   .lg\:h-0 {
      height: 0px;
   }
   .lg\:h-1 {
      height: 0.25rem;
   }
   .lg\:h-2 {
      height: 0.5rem;
   }
   .lg\:h-3 {
      height: 0.75rem;
   }
   .lg\:h-4 {
      height: 1rem;
   }
   .lg\:h-5 {
      height: 1.25rem;
   }
   .lg\:h-6 {
      height: 1.5rem;
   }
   .lg\:h-7 {
      height: 1.75rem;
   }
   .lg\:h-8 {
      height: 2rem;
   }
   .lg\:h-9 {
      height: 2.25rem;
   }
   .lg\:h-10 {
      height: 2.5rem;
   }
   .lg\:h-11 {
      height: 2.75rem;
   }
   .lg\:h-12 {
      height: 3rem;
   }
   .lg\:h-13 {
      height: 3.25rem;
   }
   .lg\:h-14 {
      height: 3.5rem;
   }
   .lg\:h-15 {
      height: 3.75rem;
   }
   .lg\:h-16 {
      height: 4rem;
   }
   .lg\:h-17 {
      height: 4.25rem;
   }
   .lg\:h-18 {
      height: 4.5rem;
   }
   .lg\:h-19 {
      height: 4.75rem;
   }
   .lg\:h-20 {
      height: 5rem;
   }
   .lg\:h-24 {
      height: 6rem;
   }
   .lg\:h-28 {
      height: 7rem;
   }
   .lg\:h-32 {
      height: 8rem;
   }
   .lg\:h-36 {
      height: 9rem;
   }
   .lg\:h-40 {
      height: 10rem;
   }
   .lg\:h-44 {
      height: 11rem;
   }
   .lg\:h-48 {
      height: 12rem;
   }
   .lg\:h-52 {
      height: 13rem;
   }
   .lg\:h-56 {
      height: 14rem;
   }
   .lg\:h-60 {
      height: 15rem;
   }
   .lg\:h-64 {
      height: 16rem;
   }
   .lg\:h-72 {
      height: 18rem;
   }
   .lg\:h-80 {
      height: 20rem;
   }
   .lg\:h-96 {
      height: 24rem;
   }
   .lg\:h-100 {
      height: 28rem;
   }
   .lg\:h-200 {
      height: 56rem;
   }
   .lg\:h-max {
      height: 100vh;
   }
   .lg\:h-100\% {
      height: 100%;
   }
   .lg\:h-90\% {
      height: 90%;
   }
   .lg\:h-80\% {
      height: 80%;
   }
   .lg\:h-70\% {
      height: 70%;
   }
   .lg\:h-60\% {
      height: 60%;
   }
   .lg\:h-50\% {
      height: 50%;
   }
   .lg\:h-40\% {
      height: 40%;
   }
   .lg\:h-30\% {
      height: 30%;
   }
   .lg\:h-20\% {
      height: 20%;
   }
   .lg\:h-10\% {
      height: 10%;
   }
   .lg\:h-auto {
      height: auto;
   }
   /* visible */
   .lg\:hidden {
      display: none;
   }
   .lg\:visible {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      -webkit-clip-path: inset(100%);
      clip-path: inset(100%);
      overflow: hidden;
   }
   /* zindex */
   .lg\:z-none {
      z-index: 0;
   }
   .lg\:z-1 {
      z-index: 10;
   }
   .lg\:z-2 {
      z-index: 20;
   }
   .lg\:z-3 {
      z-index: 30;
   }
   .lg\:z-4 {
      z-index: 60;
   }
   .lg\:z-5 {
      z-index: 80;
   }
   .lg\:z-6 {
      z-index: 100;
   }
   .lg\:z-max {
      z-index: 1000;
   }
   /* top position */
   .lg\:top-0 {
      top: 0;
   }
   .lg\:bottom-0 {
      bottom: 0;
   }
   .lg\:left-0 {
      left: 0;
   }
   .lg\:right-0 {
      right: 0;
   }
   /* posisionamiento de objetos :::::::::::::::::*/
   .lg\:object-cover {
      object-fit: cover;
   }
   .lg\:object-contain {
      object-fit: contain;
   }
   .lg\:object-fill {
      object-fit: fill;
   }
}
