/* @media screen and (min-width: 768px) and (max-width: 1279px) { */
@media screen and (min-width: 720px) {
	.md\:text-size-1 {
		font-size: var(--movil-text-size-1);
	}
	.md\:text-size-2 {
		font-size: var(--movil-text-size-2);
	}
	.md\:text-size-3 {
		font-size: var(--movil-text-size-3);
	}
	.md\:text-size-4 {
		font-size: var(--movil-text-size-4);
	}
	.md\:text-size-5 {
		font-size: var(--movil-text-size-5);
	}
	.md\:text-size-6 {
		font-size: var(--movil-text-size-6);
	}
	.md\:text-size-7 {
		font-size: var(--movil-text-size-7);
	}
	.md\:text-size-8 {
		font-size: var(--movil-text-size-8);
	}
	.md\:text-size-9 {
		font-size: var(--movil-text-size-9);
	}
	.md\:text-size-10 {
		font-size: var(--movil-text-size-10);
	}

	/* alineacion de texto*/
	.md\:text-center {
		text-align: center;
	}
	.md\:text-justify {
		text-align: justify;
	}
	.md\:text-left {
		text-align: left;
	}
	.md\:text-right {
		text-align: right;
	}

	/* border radius */
	.md\:border-radius {
		border-radius: 0.2rem;
	}
	.md\:border-radius-1 {
		border-radius: 0.35rem;
	}
	.md\:border-radius-2 {
		border-radius: 0.5rem;
	}
	.md\:border-radius-3 {
		border-radius: 0.7rem;
	}
	.md\:border-radius-4 {
		border-radius: 1rem;
	}
	.md\:border-radius-5 {
		border-radius: 1.5rem;
	}
	.md\:border-radius-6 {
		border-radius: 1.8rem;
	}
	.md\:border-radius-7 {
		border-radius: 2.2rem;
	}
	.md\:border-radius-8 {
		border-radius: 2.8rem;
	}
	.md\:border-radius-9 {
		border-radius: 3.6rem;
	}
	.md\:border-radius-10 {
		border-radius: 4.8rem;
	}

	.md\:border-radius-top-left {
		border-top-left-radius: 0.2rem;
	}
	.md\:border-radius-top-left-1 {
		border-top-left-radius: 0.35rem;
	}
	.md\:border-radius-top-left-2 {
		border-top-left-radius: 0.5rem;
	}
	.md\:border-radius-top-left-3 {
		border-top-left-radius: 0.7rem;
	}
	.md\:border-radius-top-left-4 {
		border-top-left-radius: 1rem;
	}
	.md\:border-radius-top-left-5 {
		border-top-left-radius: 1.5rem;
	}
	.md\:border-radius-top-left-6 {
		border-top-left-radius: 1.8rem;
	}
	.md\:border-radius-top-left-7 {
		border-top-left-radius: 2.2rem;
	}
	.md\:border-radius-top-left-8 {
		border-top-left-radius: 2.8rem;
	}
	.md\:border-radius-top-left-9 {
		border-top-left-radius: 3.6rem;
	}
	.md\:border-radius-top-left-10 {
		border-top-left-radius: 4.8rem;
	}

	.md\:border-radius-top-right {
		border-top-right-radius: 0.2rem;
	}
	.md\:border-radius-top-right-1 {
		border-top-right-radius: 0.35rem;
	}
	.md\:border-radius-top-right-2 {
		border-top-right-radius: 0.5rem;
	}
	.md\:border-radius-top-right-3 {
		border-top-right-radius: 0.7rem;
	}
	.md\:border-radius-top-right-4 {
		border-top-right-radius: 1rem;
	}
	.md\:border-radius-top-right-5 {
		border-top-right-radius: 1.5rem;
	}
	.md\:border-radius-top-right-6 {
		border-top-right-radius: 1.8rem;
	}
	.md\:border-radius-top-right-7 {
		border-top-right-radius: 2.2rem;
	}
	.md\:border-radius-top-right-8 {
		border-top-right-radius: 2.8rem;
	}
	.md\:border-radius-top-right-9 {
		border-top-right-radius: 3.6rem;
	}
	.md\:border-radius-top-right-10 {
		border-top-right-radius: 4.8rem;
	}

	.md\:border-radius-bottom-left {
		border-bottom-left-radius: 0.2rem;
	}
	.md\:border-radius-bottom-left-1 {
		border-bottom-left-radius: 0.35rem;
	}
	.md\:border-radius-bottom-left-2 {
		border-bottom-left-radius: 0.5rem;
	}
	.md\:border-radius-bottom-left-3 {
		border-bottom-left-radius: 0.7rem;
	}
	.md\:border-radius-bottom-left-4 {
		border-bottom-left-radius: 1rem;
	}
	.md\:border-radius-bottom-left-5 {
		border-bottom-left-radius: 1.5rem;
	}
	.md\:border-radius-bottom-left-6 {
		border-bottom-left-radius: 1.8rem;
	}
	.md\:border-radius-bottom-left-7 {
		border-bottom-left-radius: 2.2rem;
	}
	.md\:border-radius-bottom-left-8 {
		border-bottom-left-radius: 2.8rem;
	}
	.md\:border-radius-bottom-left-9 {
		border-bottom-left-radius: 3.6rem;
	}
	.md\:border-radius-bottom-left-10 {
		border-bottom-left-radius: 4.8rem;
	}

	.md\:border-radius-bottom-right {
		border-bottom-right-radius: 0.2rem;
	}
	.md\:border-radius-bottom-right-1 {
		border-bottom-right-radius: 0.35rem;
	}
	.md\:border-radius-bottom-right-2 {
		border-bottom-right-radius: 0.5rem;
	}
	.md\:border-radius-bottom-right-3 {
		border-bottom-right-radius: 0.7rem;
	}
	.md\:border-radius-bottom-right-4 {
		border-bottom-right-radius: 1rem;
	}
	.md\:border-radius-bottom-right-5 {
		border-bottom-right-radius: 1.5rem;
	}
	.md\:border-radius-bottom-right-6 {
		border-bottom-right-radius: 1.8rem;
	}
	.md\:border-radius-bottom-right-7 {
		border-bottom-right-radius: 2.2rem;
	}
	.md\:border-radius-bottom-right-8 {
		border-bottom-right-radius: 2.8rem;
	}
	.md\:border-radius-bottom-right-9 {
		border-bottom-right-radius: 3.6rem;
	}
	.md\:border-radius-bottom-right-10 {
		border-bottom-right-radius: 4.8rem;
	}
	/* display:::::::::::::::::::::::::::::::::::::::: */
	.md\:inline-block {
		display: inline-block;
	}
	.md\:block {
		display: block;
	}
	.md\:flex {
		display: flex;
	}
	.md\:none {
		display: none;
	}

	.md\:flex-1 {
		flex: 1;
	}
	.md\:flex-2 {
		flex: 2;
	}
	.md\:flex-3 {
		flex: 3;
	}
	.md\:flex-4 {
		flex: 4;
	}
	.md\:flex-5 {
		flex: 5;
	}
	.md\:flex-6 {
		flex: 6;
	}

	.md\:align-center {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.md\:align-start {
		-webkit-box-align: flex-start;
		-ms-flex-align: flex-start;
		align-items: flex-start;
	}
	.md\:align-end {
		-webkit-box-align: flex-end;
		-ms-flex-align: flex-end;
		align-items: flex-end;
	}
	.md\:justify-center {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.md\:justify-start {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: flex-start;
	}

	.md\:justify-end {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: flex-end;
	}

	.md\:position-relative {
		position: relative;
	}
	.md\:position-absolute {
		position: absolute;
	}
	.md\:position-fixed {
		position: fixed;
	}

	/* margin y opaddigd :::::::::::::::::::::::::::::*/
/* margin */
.md\:m-1 {
   margin: 0.25rem;
}
.md\:m-2 {
   margin: 0.5rem;
}
.md\:m-3 {
   margin: 0.75rem;
}
.md\:m-4 {
   margin: 1rem;
}
.md\:m-5 {
   margin: 1.25rem;
}
.md\:m-6 {
   margin: 1.5rem;
}
.md\:m-7 {
   margin: 1.75rem;
}
.md\:m-8 {
   margin: 2rem;
}
.md\:m-9 {
   margin: 2.25rem;
}
.md\:m-10 {
   margin: 2.5rem;
}
.md\:mt-1 {
	margin-top: 0.25rem;
}
.md\:mt-2 {
	margin-top: 0.5rem;
}
.md\:mt-3 {
	margin-top: 0.75rem;
}
.md\:mt-4 {
	margin-top: 1rem;
}
.md\:mt-5 {
	margin-top: 1.25rem;
}
.md\:mt-6 {
	margin-top: 1.5rem;
}
.md\:mt-7 {
	margin-top: 1.75rem;
}
.md\:mt-8 {
	margin-top: 2rem;
}
.md\:mt-9 {
	margin-top: 2.25rem;
}
.md\:mt-10 {
	margin-top: 2.5rem;
}

.md\:mb-1 {
	margin-bottom: 0.25rem;
}
.md\:mb-2 {
	margin-bottom: 0.5rem;
}
.md\:mb-3 {
	margin-bottom: 0.75rem;
}
.md\:mb-4 {
	margin-bottom: 1rem;
}
.md\:mb-5 {
	margin-bottom: 1.25rem;
}
.md\:mb-6 {
	margin-bottom: 1.5rem;
}
.md\:mb-7 {
	margin-bottom: 1.75rem;
}
.md\:mb-8 {
	margin-bottom: 2rem;
}
.md\:mb-9 {
	margin-bottom: 2.25rem;
}
.md\:mb-10 {
	margin-bottom: 2.5rem;
}

.md\:mr-1 {
	margin-right: 0.25rem;
}
.md\:mr-2 {
	margin-right: 0.5rem;
}
.md\:mr-3 {
	margin-right: 0.75rem;
}
.md\:mr-4 {
	margin-right: 1rem;
}
.md\:mr-5 {
	margin-right: 1.25rem;
}
.md\:mr-6 {
	margin-right: 1.5rem;
}
.md\:mr-7 {
	margin-right: 1.75rem;
}
.md\:mr-8 {
	margin-right: 2rem;
}
.md\:mr-9 {
	margin-right: 2.25rem;
}
.md\:mr-10 {
	margin-right: 2.5rem;
}

.md\:ml-1 {
	margin-left: 0.25rem;
}
.md\:ml-2 {
	margin-left: 0.5rem;
}
.md\:ml-3 {
	margin-left: 0.75rem;
}
.md\:ml-4 {
	margin-left: 1rem;
}
.md\:ml-5 {
	margin-left: 1.25rem;
}
.md\:ml-6 {
	margin-left: 1.5rem;
}
.md\:ml-7 {
	margin-left: 1.75rem;
}
.md\:ml-8 {
	margin-left: 2rem;
}
.md\:ml-9 {
	margin-left: 2.25rem;
}
.md\:ml-10 {
	margin-left: 2.5rem;
}
/* paddigns */
.md\:pt-1 {
	padding-top: 0.25rem;
}
.md\:pt-2 {
	padding-top: 0.5rem;
}
.md\:pt-3 {
	padding-top: 0.75rem;
}
.md\:pt-4 {
	padding-top: 1rem;
}
.md\:pt-5 {
	padding-top: 1.25rem;
}
.md\:pt-6 {
	padding-top: 1.5rem;
}
.md\:pt-7 {
	padding-top: 1.75rem;
}
.md\:pt-8 {
	padding-top: 2rem;
}
.md\:pt-9 {
	padding-top: 2.25rem;
}
.md\:pt-10 {
	padding-top: 2.5rem;
}
.md\:pb-1 {
	padding-bottom: 0.25rem;
}
.md\:pb-2 {
	padding-bottom: 0.5rem;
}
.md\:pb-3 {
	padding-bottom: 0.75rem;
}
.md\:pb-4 {
	padding-bottom: 1rem;
}
.md\:pb-5 {
	padding-bottom: 1.25rem;
}
.md\:pb-6 {
	padding-bottom: 1.5rem;
}
.md\:pb-7 {
	padding-bottom: 1.75rem;
}
.md\:pb-8 {
	padding-bottom: 2rem;
}
.md\:pb-9 {
	padding-bottom: 2.25rem;
}
.md\:pb-10 {
	padding-bottom: 2.5rem;
}
.md\:pl-1 {
	padding-left: 0.25rem;
}
.md\:pl-2 {
	padding-left: 0.5rem;
}
.md\:pl-3 {
	padding-left: 0.75rem;
}
.md\:pl-4 {
	padding-left: 1rem;
}
.md\:pl-5 {
	padding-left: 1.25rem;
}
.md\:pl-6 {
	padding-left: 1.5rem;
}
.md\:pl-7 {
	padding-left: 1.75rem;
}
.md\:pl-8 {
	padding-left: 2rem;
}
.md\:pl-9 {
	padding-left: 2.25rem;
}
.md\:pl-10 {
	padding-left: 2.5rem;
}

.md\:pr-1 {
	padding-right: 0.25rem;
}
.md\:pr-2 {
	padding-right: 0.5rem;
}
.md\:pr-3 {
	padding-right: 0.75rem;
}
.md\:pr-4 {
	padding-right: 1rem;
}
.md\:pr-5 {
	padding-right: 1.25rem;
}
.md\:pr-6 {
	padding-right: 1.5rem;
}
.md\:pr-7 {
	padding-right: 1.75rem;
}
.md\:pr-8 {
	padding-right: 2rem;
}
.md\:pr-9 {
	padding-right: 2.25rem;
}
.md\:pr-10 {
	padding-right: 2.5rem;
}

.md\:p-1 {
	padding: 0.25rem;
}
.md\:p-2 {
	padding: 0.5rem;
}
.md\:p-3 {
	padding: 0.75rem;
}
.md\:p-4 {
	padding: 1rem;
}
.md\:p-5 {
	padding: 1.25rem;
}
.md\:p-6 {
	padding: 1.5rem;
}
.md\:p-7 {
	padding: 1.75rem;
}
.md\:p-8 {
	padding: 2rem;
}
.md\:p-9 {
	padding: 2.25rem;
}
.md\:p-10 {
	padding: 2.5rem;
}

.md\:pv-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.md\:pv-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.md\:pv-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.5rem;
}
.md\:pv-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.md\:pv-5 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.md\:pv-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.md\:pv-7 {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}
.md\:pv-8 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.md\:pv-9 {
	padding-top: 2.25rem;
	padding-bottom: 2.25rem;
}
.md\:pv-10 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.md\:ph-1 {
	padding-right: 0.25rem;
	padding-left: 0.25rem;
}
.md\:ph-2 {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.md\:ph-3 {
	padding-right: 0.75rem;
	padding-left: 0.5rem;
}
.md\:ph-4 {
	padding-right: 1rem;
	padding-left: 1rem;
}
.md\:ph-5 {
	padding-right: 1.25rem;
	padding-left: 1.25rem;
}
.md\:ph-6 {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}
.md\:ph-7 {
	padding-right: 1.75rem;
	padding-left: 1.75rem;
}
.md\:ph-8 {
	padding-right: 2rem;
	padding-left: 2rem;
}
.md\:ph-9 {
	padding-right: 2.25rem;
	padding-left: 2.25rem;
}
.md\:ph-10 {
	padding-right: 2.5rem;
	padding-left: 2.5rem;
}

	/* tamanos de alto y largo */
	.md\:w-0 {
		width: 0px;
	}
	.md\:w-1 {
		width: 0.25rem;
	}
	.md\:w-2 {
		width: 0.5rem;
	}
	.md\:w-3 {
		width: 0.75rem;
	}
	.md\:w-4 {
		width: 1rem;
	}
	.md\:w-5 {
		width: 1.25rem;
	}
	.md\:w-6 {
		width: 1.5rem;
	}
	.md\:w-7 {
		width: 1.75rem;
	}
	.md\:w-8 {
		width: 2rem;
	}
	.md\:w-9 {
		width: 2.25rem;
	}
	.md\:w-10 {
		width: 2.5rem;
	}
	.md\:w-11 {
		width: 2.75rem;
	}
	.md\:w-12 {
		width: 3rem;
	}
	.md\:w-13 {
		width: 3.25rem;
	}
	.md\:w-14 {
		width: 3.5rem;
	}
	.md\:w-15 {
		width: 3.75rem;
	}
	.md\:w-16 {
		width: 4rem;
	}
	.md\:w-17 {
		width: 4.25rem;
	}
	.md\:w-18 {
		width: 4.5rem;
	}
	.md\:w-19 {
		width: 4.75rem;
	}
	.md\:w-20 {
		width: 5rem;
	}
	.md\:w-24 {
		width: 6rem;
	}
	.md\:w-28 {
		width: 7rem;
	}
	.md\:w-32 {
		width: 8rem;
	}
	.md\:w-36 {
		width: 9rem;
	}
	.md\:w-40 {
		width: 10rem;
	}
	.md\:w-44 {
		width: 11rem;
	}
	.md\:w-48 {
		width: 12rem;
	}
	.md\:w-52 {
		width: 13rem;
	}
	.md\:w-56 {
		width: 14rem;
	}
	.md\:w-60 {
		width: 15rem;
	}
	.md\:w-64 {
		width: 16rem;
	}
	.md\:w-72 {
		width: 18rem;
	}
	.md\:w-80 {
		width: 20rem;
	}
	.md\:w-96 {
		width: 24rem;
	}
	.md\:w-100 {
		width: 28rem;
	}
	.md\:w-max {
		width: 100vh;
	}
	.md\:w-100\% {
		width: 100%;
	}
	.md\:w-90\% {
		width: 90%;
	}
	.md\:w-80\% {
		width: 80%;
	}
	.md\:w-70\% {
		width: 70%;
	}
	.md\:w-60\% {
		width: 60%;
	}
	.md\:w-50\% {
		width: 50%;
	}
	.md\:w-40\% {
		width: 40%;
	}
	.md\:w-30\% {
		width: 30%;
	}
	.md\:w-20\% {
		width: 20%;
	}
	.md\:w-10\% {
		width: 10%;
	}
	.md\:w-auto {
		width: auto;
	}
	/* altos */
	.md\:h-0 {
		height: 0px;
	}
	.md\:h-1 {
		height: 0.25rem;
	}
	.md\:h-2 {
		height: 0.5rem;
	}
	.md\:h-3 {
		height: 0.75rem;
	}
	.md\:h-4 {
		height: 1rem;
	}
	.md\:h-5 {
		height: 1.25rem;
	}
	.md\:h-6 {
		height: 1.5rem;
	}
	.md\:h-7 {
		height: 1.75rem;
	}
	.md\:h-8 {
		height: 2rem;
	}
	.md\:h-9 {
		height: 2.25rem;
	}
	.md\:h-10 {
		height: 2.5rem;
	}
	.md\:h-11 {
		height: 2.75rem;
	}
	.md\:h-12 {
		height: 3rem;
	}
	.md\:h-13 {
		height: 3.25rem;
	}
	.md\:h-14 {
		height: 3.5rem;
	}
	.md\:h-15 {
		height: 3.75rem;
	}
	.md\:h-16 {
		height: 4rem;
	}
	.md\:h-17 {
		height: 4.25rem;
	}
	.md\:h-18 {
		height: 4.5rem;
	}
	.md\:h-19 {
		height: 4.75rem;
	}
	.md\:h-20 {
		height: 5rem;
	}
	.md\:h-24 {
		height: 6rem;
	}
	.md\:h-28 {
		height: 7rem;
	}
	.md\:h-32 {
		height: 8rem;
	}
	.md\:h-36 {
		height: 9rem;
	}
	.md\:h-40 {
		height: 10rem;
	}
	.md\:h-44 {
		height: 11rem;
	}
	.md\:h-48 {
		height: 12rem;
	}
	.md\:h-52 {
		height: 13rem;
	}
	.md\:h-56 {
		height: 14rem;
	}
	.md\:h-60 {
		height: 15rem;
	}
	.md\:h-64 {
		height: 16rem;
	}
	.md\:h-72 {
		height: 18rem;
	}
	.md\:h-80 {
		height: 20rem;
	}
	.md\:h-96 {
		height: 24rem;
	}
	.md\:h-100 {
		height: 28rem;
	}
	.md\:h-200 {
		height: 56rem;
	}
	.md\:h-max {
		height: 100vh;
	}
	.md\:h-100\% {
		height: 100%;
	}
	.md\:h-90\% {
		height: 90%;
	}
	.md\:h-80\% {
		height: 80%;
	}
	.md\:h-70\% {
		height: 70%;
	}
	.md\:h-60\% {
		height: 60%;
	}
	.md\:h-50\% {
		height: 50%;
	}
	.md\:h-40\% {
		height: 40%;
	}
	.md\:h-30\% {
		height: 30%;
	}
	.md\:h-20\% {
		height: 20%;
	}
	.md\:h-10\% {
		height: 10%;
	}
	.md\:h-auto {
		height: auto;
	}
	/* visible */
	.md\:hidden {
		display: none;
	}
	.md\:visible {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		-webkit-clip-path: inset(100%);
		clip-path: inset(100%);
		overflow: hidden;
	}
	/* zindex */
	.md\:z-none {
		z-index: 0;
	}
	.md\:z-1 {
		z-index: 10;
	}
	.md\:z-2 {
		z-index: 20;
	}
	.md\:z-3 {
		z-index: 30;
	}
	.md\:z-4 {
		z-index: 60;
	}
	.md\:z-5 {
		z-index: 80;
	}
	.md\:z-6 {
		z-index: 100;
	}
	.md\:z-max {
		z-index: 1000;
	}
	/* top position */
	.md\:top-0 {
		top: 0;
	}
	.md\:bottom-0 {
		bottom: 0;
	}
	.md\:left-0 {
		left: 0;
	}
	.md\:right-0 {
		right: 0;
	}
	/* posisionamiento de objetos :::::::::::::::::*/
	.md\:object-cover {
		object-fit: cover;
	}
	.md\:object-contain {
		object-fit: contain;
	}
	.md\:object-fill {
		object-fit: fill;
	}
}
