/* colores :::::::::::::::::::::::::::::::::::::::::::::*/
.\:text-white {
   color: var(--color-white);
}

.\:text-white-1 {
   color: var(--color-white-1);
}

.\:text-white-2 {
   color: var(--color-white-2);
}

.\:text-white-3 {
   color: var(--color-white-3);
}

.\:text-primary {
   /* --tw-text-opacity: fa; */
   color: var(--color-primary);
}

.\:text-primary-1 {
   color: var(--color-primary-1);
}

.\:text-primary-2 {
   color: var(--color-primary-2);
}

.\:text-primary-3 {
   color: var(--color-primary-3);
}

.\:text-accent {
   color: var(--color-accent);
}

.\:text-accent-1 {
   color: var(--color-accent-1);
}

.\:text-accent-2 {
   color: var(--color-accent-2);
}

.\:text-accent-3 {
   color: var(--color-accent-3);
}

.\:text-dark {
   color: var(--color-dark);
}

.\:text-dark-1 {
   color: var(--color-dark-1);
}

.\:text-dark-2 {
   color: var(--color-dark-2);
}

.\:text-dark-3 {
   color: var(--color-dark-3);
}

.\:text-blue {
   color: var(--color-blue);
}

.\:text-green {
   color: var(--color-green);
}

.\:text-yellow {
   color: var(--color-yellow);
}

.\:text-orange {
   color: var(--color-orange);
}

.\:text-red {
   color: var(--color-red);
}

.\:text-brown {
   color: var(--color-brown);
}

.\:text-purple {
   color: var(--color-purple);
}

.\:text-pink {
   color: var(--color-pink);
}

/* colores hover */
.\:hover\:text-white:hover {
   color: var(--color-white);
}

.\:hover\:text-white-1:hover {
   color: var(--color-white-1);
}

.\:hover\:text-white-2:hover {
   color: var(--color-white-2);
}

.\:hover\:text-white-3:hover {
   color: var(--color-white-3);
}

.\:hover\:text-primary:hover {
   color: var(--color-primary);
}

.\:hover\:text-primary-1:hover {
   color: var(--color-primary-1);
}

.\:hover\:text-primary-2:hover {
   color: var(--color-primary-2);
}

.\:hover\:text-primary-3:hover {
   color: var(--color-primary-3);
}

.\:hover\:text-accent:hover {
   color: var(--color-accent);
}

.\:hover\:text-accent-1:hover {
   color: var(--color-accent-1);
}

.\:hover\:text-accent-2:hover {
   color: var(--color-accent-2);
}

.\:hover\:text-accent-3:hover {
   color: var(--color-accent-3);
}

.\:hover\:text-dark:hover {
   color: var(--color-dark);
}

.\:hover\:text-dark-1:hover {
   color: var(--color-dark-1);
}

.\:hover\:text-dark-2:hover {
   color: var(--color-dark-2);
}

.\:hover\:text-dark-3:hover {
   color: var(--color-dark-3);
}

.\:hover\:text-blue:hover {
   color: var(--color-blue);
}

.\:hover\:text-green:hover {
   color: var(--color-green);
}

.\:hover\:text-yellow:hover {
   color: var(--color-yellow);
}

.\:hover\:text-orange:hover {
   color: var(--color-orange);
}

.\:hover\:text-red:hover {
   color: var(--color-red);
}

.\:hover\:text-brown:hover {
   color: var(--color-brown);
}

.\:hover\:text-purple:hover {
   color: var(--color-purple);
}

.\:hover\:text-pink:hover {
   color: var(--color-pink);
}

/* fondos :::::::::::::::::::::::::::::::::::::::::::::*/
.\:bg-white {
   background-color: var(--color-white);
}

.\:bg-white-1 {
   background-color: var(--color-white-1);
}

.\:bg-white-2 {
   background-color: var(--color-white-2);
}

.\:bg-white-3 {
   background-color: var(--color-white-3);
}

.\:bg-primary {
   background-color: var(--color-primary);
}

.\:bg-primary-1 {
   background-color: var(--color-primary-1);
}

.\:bg-primary-2 {
   background-color: var(--color-primary-2);
}

.\:bg-primary-3 {
   background-color: var(--color-primary-3);
}

.\:bg-accent {
   background-color: var(--color-accent);
}

.\:bg-accent-1 {
   background-color: var(--color-accent-1);
}

.\:bg-accent-2 {
   background-color: var(--color-accent-2);
}

.\:bg-accent-3 {
   background-color: var(--color-accent-3);
}

.\:bg-dark {
   background-color: var(--color-dark);
}

.\:bg-dark-1 {
   background-color: var(--color-dark-1);
}

.\:bg-dark-2 {
   background-color: var(--color-dark-2);
}

.\:bg-dark-3 {
   background-color: var(--color-dark-3);
}

.\:bg-blue {
   background-color: var(--color-blue);
}

.\:bg-green {
   background-color: var(--color-green);
}

.\:bg-yellow {
   background-color: var(--color-yellow);
}

.\:bg-orange {
   background-color: var(--color-orange);
}

.\:bg-red {
   background-color: var(--color-red);
}

.\:bg-brown {
   background-color: var(--color-brown);
}

.\:bg-purple {
   background-color: var(--color-purple);
}

.\:bg-pink {
   background-color: var(--color-pink);
}

.\:bg-transparent {
   background-color: rgba(255, 255, 255, 0);
}

/* fondos hover::::::::::::::::::::::::::::::::: */

.\:hover\:bg-white:hover {
   background-color: var(--color-white);
}

.\:hover\:bg-white-1:hover {
   background-color: var(--color-white-1);
}

.\:hover\:bg-white-2:hover {
   background-color: var(--color-white-2);
}

.\:hover\:bg-white-3:hover {
   background-color: var(--color-white-3);
}

.\:hover\:bg-primary:hover {
   background-color: var(--color-primary);
}

.\:hover\:bg-primary-1:hover {
   background-color: var(--color-primary-1);
}

.\:hover\:bg-primary-2:hover {
   background-color: var(--color-primary-2);
}

.\:hover\:bg-primary-3:hover {
   background-color: var(--color-primary-3);
}

.\:hover\:bg-accent:hover {
   background-color: var(--color-accent);
}

.\:hover\:bg-accent-1:hover {
   background-color: var(--color-accent-1);
}

.\:hover\:bg-accent-2:hover {
   background-color: var(--color-accent-2);
}

.\:hover\:bg-accent-3:hover {
   background-color: var(--color-accent-3);
}

.\:hover\:bg-dark:hover {
   background-color: var(--color-dark);
}

.\:hover\:bg-dark-1:hover {
   background-color: var(--color-dark-1);
}

.\:hover\:bg-dark-2:hover {
   background-color: var(--color-dark-2);
}

.\:hover\:bg-dark-3:hover {
   background-color: var(--color-dark-3);
}

.\:hover\:bg-blue:hover {
   background-color: var(--color-blue);
}

.\:hover\:bg-green:hover {
   background-color: var(--color-green);
}

.\:hover\:bg-yellow:hover {
   background-color: var(--color-yellow);
}

.\:hover\:bg-orange:hover {
   background-color: var(--color-orange);
}

.\:hover\:bg-red:hover {
   background-color: var(--color-red);
}

.\:hover\:bg-brown:hover {
   background-color: var(--color-brown);
}

.\:hover\:bg-purple:hover {
   background-color: var(--color-purple);
}

.\:hover\:bg-pink:hover {
   background-color: var(--color-pink);
}

.\:hover\:bg-transparet:hover {
   background-color: rgba(255, 255, 255, 0);
}

/* //border  :::::::::::::::::::::::::::::::::::: */
.\:border-solid-1 {
   border-style: solid;
   border-width: 0.12rem;
}

.\:border-solid-2 {
   border-style: solid;
   border-width: 0.2rem;
}

.\:border-solid-3 {
   border-style: solid;
   border-width: 0.35rem;
}

.\:border-solid-4 {
   border-style: solid;
   border-width: 0.45rem;
}

.\:border-solid-5 {
   border-style: solid;
   border-width: 0.85rem;
}

/*border con direccion::::::::::::::::::::: */
.\:border-solid-1-top {
   border-style: solid;
   border-top-width: 0.12rem;
}

.\:border-solid-1-bottom {
   border-style: solid;
   border-bottom-width: 0.12rem;
}

.\:border-solid-1-right {
   border-style: solid;
   border-right-width: 0.12rem;
}

.\:border-solid-1-left {
   border-style: solid;
   border-left-width: 0.12rem;
}

.\:border-solid-2-top {
   border-style: solid;
   border-top-width: 0.2rem;
}

.\:border-solid-2-bottom {
   border-style: solid;
   border-bottom-width: 0.2rem;
}

.\:border-solid-2-right {
   border-style: solid;
   border-right-width: 0.2rem;
}

.\:border-solid-2-left {
   border-style: solid;
   border-left-width: 0.2rem;
}

.\:border-solid-3-top {
   border-style: solid;
   border-top-width: 0.35rem;
}

.\:border-solid-3-bottom {
   border-style: solid;
   border-bottom-width: 0.35rem;
}

.\:border-solid-3-right {
   border-style: solid;
   border-right-width: 0.35rem;
}

.\:border-solid-3-left {
   border-style: solid;
   border-left-width: 0.35rem;
}

.\:border-solid-4-top {
   border-style: solid;
   border-top-width: 0.45rem;
}

.\:border-solid-4-bottom {
   border-style: solid;
   border-bottom-width: 0.45rem;
}

.\:border-solid-4-right {
   border-style: solid;
   border-right-width: 0.45rem;
}

.\:border-solid-4-left {
   border-style: solid;
   border-left-width: 0.45rem;
}

.\:border-solid-5-top {
   border-style: solid;
   border-top-width: 0.85rem;
}

.\:border-solid-5-bottom {
   border-style: solid;
   border-bottom-width: 0.85rem;
}

.\:border-solid-5-right {
   border-style: solid;
   border-right-width: 0.85rem;
}

.\:border-solid-5-left {
   border-style: solid;
   border-left-width: 0.85rem;
}

.\:border-color-white {
   border-color: var(--color-white);
}

.\:border-color-white-1 {
   border-color: var(--color-white-1);
}

.\:border-color-white-2 {
   border-color: var(--color-white-2);
}

.\:border-color-white-3 {
   border-color: var(--color-white-3);
}

.\:border-color-primary {
   border-color: var(--color-primary);
}

.\:border-color-primary-1 {
   border-color: var(--color-primary-1);
}

.\:border-color-primary-2 {
   border-color: var(--color-primary-2);
}

.\:border-color-primary-3 {
   border-color: var(--color-primary-3);
}

.\:border-color-accent {
   border-color: var(--color-accent);
}

.\:border-color-accent-1 {
   border-color: var(--color-accent-1);
}

.\:border-color-accent-2 {
   border-color: var(--color-accent-2);
}

.\:border-color-accent-3 {
   border-color: var(--color-accent-3);
}

.\:border-color-dark {
   border-color: var(--color-dark);
}

.\:border-color-dark-1 {
   border-color: var(--color-dark-1);
}

.\:border-color-dark-2 {
   border-color: var(--color-dark-2);
}

.\:border-color-dark-3 {
   border-color: var(--color-dark-3);
}

.\:border-color-blue {
   border-color: var(--color-blue);
}

.\:border-color-green {
   border-color: var(--color-green);
}

.\:border-color-yellow {
   border-color: var(--color-yellow);
}

.\:border-color-orange {
   border-color: var(--color-orange);
}

.\:border-color-red {
   border-color: var(--color-red);
}

.\:border-color-brown {
   border-color: var(--color-brown);
}

.\:border-color-purple {
   border-color: var(--color-purple);
}

.\:border-color-pink {
   border-color: var(--color-pink);
}

/* //border radius */
.\:border-radius {
   border-radius: 0.2rem;
}

.\:border-radius-1 {
   border-radius: 0.35rem;
}

.\:border-radius-2 {
   border-radius: 0.5rem;
}

.\:border-radius-3 {
   border-radius: 0.7rem;
}

.\:border-radius-4 {
   border-radius: 1rem;
}

.\:border-radius-5 {
   border-radius: 1.5rem;
}

.\:border-radius-6 {
   border-radius: 1.8rem;
}

.\:border-radius-7 {
   border-radius: 2.2rem;
}

.\:border-radius-8 {
   border-radius: 2.8rem;
}

.\:border-radius-9 {
   border-radius: 3.6rem;
}

.\:border-radius-10 {
   border-radius: 4.8rem;
}

.\:border-radius-50\% {
   border-radius: 50%;
}

.\:border-radius-top-left {
   border-top-left-radius: 0.2rem;
}

.\:border-radius-top-left-1 {
   border-top-left-radius: 0.35rem;
}

.\:border-radius-top-left-2 {
   border-top-left-radius: 0.5rem;
}

.\:border-radius-top-left-3 {
   border-top-left-radius: 0.7rem;
}

.\:border-radius-top-left-4 {
   border-top-left-radius: 1rem;
}

.\:border-radius-top-left-5 {
   border-top-left-radius: 1.5rem;
}

.\:border-radius-top-left-6 {
   border-top-left-radius: 1.8rem;
}

.\:border-radius-top-left-7 {
   border-top-left-radius: 2.2rem;
}

.\:border-radius-top-left-8 {
   border-top-left-radius: 2.8rem;
}

.\:border-radius-top-left-9 {
   border-top-left-radius: 3.6rem;
}

.\:border-radius-top-left-10 {
   border-top-left-radius: 4.8rem;
}

.\:border-radius-top-right {
   border-top-right-radius: 0.2rem;
}

.\:border-radius-top-right-1 {
   border-top-right-radius: 0.35rem;
}

.\:border-radius-top-right-2 {
   border-top-right-radius: 0.5rem;
}

.\:border-radius-top-right-3 {
   border-top-right-radius: 0.7rem;
}

.\:border-radius-top-right-4 {
   border-top-right-radius: 1rem;
}

.\:border-radius-top-right-5 {
   border-top-right-radius: 1.5rem;
}

.\:border-radius-top-right-6 {
   border-top-right-radius: 1.8rem;
}

.\:border-radius-top-right-7 {
   border-top-right-radius: 2.2rem;
}

.\:border-radius-top-right-8 {
   border-top-right-radius: 2.8rem;
}

.\:border-radius-top-right-9 {
   border-top-right-radius: 3.6rem;
}

.\:border-radius-top-right-10 {
   border-top-right-radius: 4.8rem;
}

.\:border-radius-bottom-left {
   border-bottom-left-radius: 0.2rem;
}

.\:border-radius-bottom-left-1 {
   border-bottom-left-radius: 0.35rem;
}

.\:border-radius-bottom-left-2 {
   border-bottom-left-radius: 0.5rem;
}

.\:border-radius-bottom-left-3 {
   border-bottom-left-radius: 0.7rem;
}

.\:border-radius-bottom-left-4 {
   border-bottom-left-radius: 1rem;
}

.\:border-radius-bottom-left-5 {
   border-bottom-left-radius: 1.5rem;
}

.\:border-radius-bottom-left-6 {
   border-bottom-left-radius: 1.8rem;
}

.\:border-radius-bottom-left-7 {
   border-bottom-left-radius: 2.2rem;
}

.\:border-radius-bottom-left-8 {
   border-bottom-left-radius: 2.8rem;
}

.\:border-radius-bottom-left-9 {
   border-bottom-left-radius: 3.6rem;
}

.\:border-radius-bottom-left-10 {
   border-bottom-left-radius: 4.8rem;
}

.\:border-radius-bottom-right {
   border-bottom-right-radius: 0.2rem;
}

.\:border-radius-bottom-right-1 {
   border-bottom-right-radius: 0.35rem;
}

.\:border-radius-bottom-right-2 {
   border-bottom-right-radius: 0.5rem;
}

.\:border-radius-bottom-right-3 {
   border-bottom-right-radius: 0.7rem;
}

.\:border-radius-bottom-right-4 {
   border-bottom-right-radius: 1rem;
}

.\:border-radius-bottom-right-5 {
   border-bottom-right-radius: 1.5rem;
}

.\:border-radius-bottom-right-6 {
   border-bottom-right-radius: 1.8rem;
}

.\:border-radius-bottom-right-7 {
   border-bottom-right-radius: 2.2rem;
}

.\:border-radius-bottom-right-8 {
   border-bottom-right-radius: 2.8rem;
}

.\:border-radius-bottom-right-9 {
   border-bottom-right-radius: 3.6rem;
}

.\:border-radius-bottom-right-10 {
   border-bottom-right-radius: 4.8rem;
}

/* //hover de border? */

/* transiones */
.\:transition-all {
   transition-property: all;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 150ms;
}

.\:transition {
   transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
      transform, filter, backdrop-filter;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 150ms;
}

.\:transition-colors {
   transition-property: background-color, border-color, color, fill, stroke;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 150ms;
}

.\:transition-opacity {
   transition-property: opacity;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 150ms;
}

.\:transition-shadow {
   transition-property: box-shadow;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 150ms;
}

.\:transition-transform {
   transition-property: transform;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 150ms;
}

.\:duration-1 {
   transition-duration: 75ms;
}

.\:duration-2 {
   transition-duration: 100ms;
}

.\:duration-3 {
   transition-duration: 150ms;
}

.\:duration-4 {
   transition-duration: 200ms;
}

.\:duration-5 {
   transition-duration: 300ms;
}

.\:duration-6 {
   transition-duration: 500ms;
}

.\:duration-7 {
   transition-duration: 700ms;
}

.\:duration-8 {
   transition-duration: 1000ms;
}

.\:duration-9 {
   transition-duration: 1000ms;
}

.\:duration-10 {
   transition-duration: 1000ms;
}

/* //sombras::::::::::::::::::::::::::::::::::::::::::::: */
.\:shadow {
   box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 17%);
}

.\:shadow-1 {
   box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 17%);
   /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}

.\:shadow-2 {
   box-shadow: 0px 8px 12px 0px rgb(0 0 0 / 17%);
   /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
}

.\:shadow-3 {
   box-shadow: 0px 16px 20px 0px rgb(0 0 0 / 17%);
   /* box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); */
}

.\:shadow-4 {
   box-shadow: 0px 24px 34px 0px rgb(0 0 0 / 25%);
   /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
}

.\:shadow-5 {
   box-shadow: 0px 32px 48px 0px rgb(0 0 0 / 30%);
   /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
}

/* alineacion de texto*/
.\:text-center {
   text-align: center;
}

.\:text-justify {
   text-align: justify;
}

.\:text-left {
   text-align: left;
}

.\:text-right {
   text-align: right;
}

/* tamanio fuebnte:::::::::::::::::::::::::::::::::: */
.\:text-size-1 {
   font-size: var(--movil-text-size-1);
}

.\:text-size-2 {
   font-size: var(--movil-text-size-2);
}
.\:text-size-3 {
   font-size: var(--movil-text-size-3);
}
.\:text-size-4 {
   font-size: var(--movil-text-size-4);
}
.\:text-size-5 {
   font-size: var(--movil-text-size-5);
}
.\:text-size-6 {
   font-size: var(--movil-text-size-6);
}
.\:text-size-7 {
   font-size: var(--movil-text-size-7);
}
.\:text-size-8 {
   font-size: var(--movil-text-size-8);
}
.\:text-size-9 {
   font-size: var(--movil-text-size-9);
}
.\:text-size-10 {
   font-size: var(--movil-text-size-10);
}
/* fuete negrita */
.\:bold {
   font-weight: bold;
}
.\:bold-min {
   font-weight: 300;
}
.\:bold-max {
   font-weight: 900;
}

/* fuete negrita */
.\:hover\:bold:hover {
   font-weight: bold;
}
.\:hover\:bold-min:hover {
   font-weight: 300;
}
.\:hover\:bold-max:hover {
   font-weight: 900;
}

/* display:::::::::::::::::::::::::::::::::::::::: */
.\:d-inline-block {
   display: inline-block;
}
.\:d-block {
   display: block;
}
.\:d-flex {
   display: flex;
}
.\:d-none {
   display: none;
}

.\:flex-1 {
   flex: 1;
}

.\:flex-2 {
   flex: 2;
}

.\:flex-3 {
   flex: 3;
}

.\:flex-4 {
   flex: 4;
}

.\:flex-5 {
   flex: 5;
}

.\:flex-6 {
   flex: 6;
}

.\:flex-7 {
   flex: 6;
}

.\:flex-8 {
   flex: 6;
}

.\:flex-9 {
   flex: 6;
}

.\:flex-10 {
   flex: 6;
}
.\:align-center {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.\:align-start {
   -webkit-box-align: flex-start;
   -ms-flex-align: flex-start;
   align-items: flex-start;
}

.\:align-end {
   -webkit-box-align: flex-end;
   -ms-flex-align: flex-end;
   align-items: flex-end;
}

.\:justify-center {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.\:justify-start {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: flex-start;
}

.\:justify-end {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: flex-end;
}

.\:position-relative {
   position: relative;
}

.\:position-absolute {
   position: absolute;
}

.\:position-fixed {
   position: fixed;
}

/* margin y opaddigd :::::::::::::::::::::::::::::*/
/* margin */
.\:m-1 {
   margin: 0.25rem;
}
.\:m-2 {
   margin: 0.5rem;
}
.\:m-3 {
   margin: 0.75rem;
}
.\:m-4 {
   margin: 1rem;
}
.\:m-5 {
   margin: 1.25rem;
}
.\:m-6 {
   margin: 1.5rem;
}
.\:m-7 {
   margin: 1.75rem;
}
.\:m-8 {
   margin: 2rem;
}
.\:m-9 {
   margin: 2.25rem;
}
.\:m-10 {
   margin: 2.5rem;
}

.\:mt-1 {
   margin-top: 0.25rem;
}

.\:mt-2 {
   margin-top: 0.5rem;
}

.\:mt-3 {
   margin-top: 0.75rem;
}

.\:mt-4 {
   margin-top: 1rem;
}

.\:mt-5 {
   margin-top: 1.25rem;
}

.\:mt-6 {
   margin-top: 1.5rem;
}

.\:mt-7 {
   margin-top: 1.75rem;
}

.\:mt-8 {
   margin-top: 2rem;
}

.\:mt-9 {
   margin-top: 2.25rem;
}

.\:mt-10 {
   margin-top: 2.5rem;
}

.\:mb-1 {
   margin-bottom: 0.25rem;
}

.\:mb-2 {
   margin-bottom: 0.5rem;
}

.\:mb-3 {
   margin-bottom: 0.75rem;
}

.\:mb-4 {
   margin-bottom: 1rem;
}

.\:mb-5 {
   margin-bottom: 1.25rem;
}

.\:mb-6 {
   margin-bottom: 1.5rem;
}

.\:mb-7 {
   margin-bottom: 1.75rem;
}

.\:mb-8 {
   margin-bottom: 2rem;
}

.\:mb-9 {
   margin-bottom: 2.25rem;
}

.\:mb-10 {
   margin-bottom: 2.5rem;
}

.\:mr-1 {
   margin-right: 0.25rem;
}

.\:mr-2 {
   margin-right: 0.5rem;
}

.\:mr-3 {
   margin-right: 0.75rem;
}

.\:mr-4 {
   margin-right: 1rem;
}

.\:mr-5 {
   margin-right: 1.25rem;
}

.\:mr-6 {
   margin-right: 1.5rem;
}

.\:mr-7 {
   margin-right: 1.75rem;
}

.\:mr-8 {
   margin-right: 2rem;
}

.\:mr-9 {
   margin-right: 2.25rem;
}

.\:mr-10 {
   margin-right: 2.5rem;
}

.\:ml-1 {
   margin-left: 0.25rem;
}

.\:ml-2 {
   margin-left: 0.5rem;
}

.\:ml-3 {
   margin-left: 0.75rem;
}

.\:ml-4 {
   margin-left: 1rem;
}

.\:ml-5 {
   margin-left: 1.25rem;
}

.\:ml-6 {
   margin-left: 1.5rem;
}

.\:ml-7 {
   margin-left: 1.75rem;
}

.\:ml-8 {
   margin-left: 2rem;
}

.\:ml-9 {
   margin-left: 2.25rem;
}

.\:ml-10 {
   margin-left: 2.5rem;
}

/* paddigns */
.\:pt-1 {
   padding-top: 0.25rem;
}

.\:pt-2 {
   padding-top: 0.5rem;
}

.\:pt-3 {
   padding-top: 0.75rem;
}

.\:pt-4 {
   padding-top: 1rem;
}

.\:pt-5 {
   padding-top: 1.25rem;
}

.\:pt-6 {
   padding-top: 1.5rem;
}

.\:pt-7 {
   padding-top: 1.75rem;
}

.\:pt-8 {
   padding-top: 2rem;
}

.\:pt-9 {
   padding-top: 2.25rem;
}

.\:pt-10 {
   padding-top: 2.5rem;
}

.\:pb-1 {
   padding-bottom: 0.25rem;
}

.\:pb-2 {
   padding-bottom: 0.5rem;
}

.\:pb-3 {
   padding-bottom: 0.75rem;
}

.\:pb-4 {
   padding-bottom: 1rem;
}

.\:pb-5 {
   padding-bottom: 1.25rem;
}

.\:pb-6 {
   padding-bottom: 1.5rem;
}

.\:pb-7 {
   padding-bottom: 1.75rem;
}

.\:pb-8 {
   padding-bottom: 2rem;
}

.\:pb-9 {
   padding-bottom: 2.25rem;
}

.\:pb-10 {
   padding-bottom: 2.5rem;
}

.\:pl-1 {
   padding-left: 0.25rem;
}

.\:pl-2 {
   padding-left: 0.5rem;
}

.\:pl-3 {
   padding-left: 0.75rem;
}

.\:pl-4 {
   padding-left: 1rem;
}

.\:pl-5 {
   padding-left: 1.25rem;
}

.\:pl-6 {
   padding-left: 1.5rem;
}

.\:pl-7 {
   padding-left: 1.75rem;
}

.\:pl-8 {
   padding-left: 2rem;
}

.\:pl-9 {
   padding-left: 2.25rem;
}

.\:pl-10 {
   padding-left: 2.5rem;
}

.\:pr-1 {
   padding-right: 0.25rem;
}

.\:pr-2 {
   padding-right: 0.5rem;
}

.\:pr-3 {
   padding-right: 0.75rem;
}

.\:pr-4 {
   padding-right: 1rem;
}

.\:pr-5 {
   padding-right: 1.25rem;
}

.\:pr-6 {
   padding-right: 1.5rem;
}

.\:pr-7 {
   padding-right: 1.75rem;
}

.\:pr-8 {
   padding-right: 2rem;
}

.\:pr-9 {
   padding-right: 2.25rem;
}

.\:pr-10 {
   padding-right: 2.5rem;
}

.\:p-1 {
   padding: 0.25rem;
}

.\:p-2 {
   padding: 0.5rem;
}

.\:p-3 {
   padding: 0.75rem;
}

.\:p-4 {
   padding: 1rem;
}

.\:p-5 {
   padding: 1.25rem;
}

.\:p-6 {
   padding: 1.5rem;
}

.\:p-7 {
   padding: 1.75rem;
}

.\:p-8 {
   padding: 2rem;
}

.\:p-9 {
   padding: 2.25rem;
}

.\:p-10 {
   padding: 2.5rem;
}

.\:pv-1 {
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
}

.\:pv-2 {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

.\:pv-3 {
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
}

.\:pv-4 {
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.\:pv-5 {
   padding-top: 1.25rem;
   padding-bottom: 1.25rem;
}

.\:pv-6 {
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
}

.\:pv-7 {
   padding-top: 1.75rem;
   padding-bottom: 1.75rem;
}

.\:pv-8 {
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.\:pv-9 {
   padding-top: 2.25rem;
   padding-bottom: 2.25rem;
}

.\:pv-10 {
   padding-top: 2.5rem;
   padding-bottom: 2.5rem;
}

.\:ph-1 {
   padding-right: 0.25rem;
   padding-left: 0.25rem;
}

.\:ph-2 {
   padding-right: 0.5rem;
   padding-left: 0.5rem;
}

.\:ph-3 {
   padding-right: 0.75rem;
   padding-left: 0.75rem;
}

.\:ph-4 {
   padding-right: 1rem;
   padding-left: 1rem;
}

.\:ph-5 {
   padding-right: 1.25rem;
   padding-left: 1.25rem;
}

.\:ph-6 {
   padding-right: 1.5rem;
   padding-left: 1.5rem;
}

.\:ph-7 {
   padding-right: 1.75rem;
   padding-left: 1.75rem;
}

.\:ph-8 {
   padding-right: 2rem;
   padding-left: 2rem;
}

.\:ph-9 {
   padding-right: 2.25rem;
   padding-left: 2.25rem;
}

.\:ph-10 {
   padding-right: 2.5rem;
   padding-left: 2.5rem;
}

/* tamanos de alto y largo */
.\:w-0 {
   width: 0px;
}
.\:w-1 {
   width: 0.25rem;
}
.\:w-2 {
   width: 0.5rem;
}
.\:w-3 {
   width: 0.75rem;
}
.\:w-4 {
   width: 1rem;
}
.\:w-5 {
   width: 1.25rem;
}
.\:w-6 {
   width: 1.5rem;
}
.\:w-7 {
   width: 1.75rem;
}
.\:w-8 {
   width: 2rem;
}
.\:w-9 {
   width: 2.25rem;
}
.\:w-10 {
   width: 2.5rem;
}
.\:w-11 {
   width: 2.75rem;
}
.\:w-12 {
   width: 3rem;
}
.\:w-13 {
   width: 3.25rem;
}
.\:w-14 {
   width: 3.5rem;
}
.\:w-15 {
   width: 3.75rem;
}
.\:w-16 {
   width: 4rem;
}
.\:w-17 {
   width: 4.25rem;
}
.\:w-18 {
   width: 4.5rem;
}
.\:w-19 {
   width: 4.75rem;
}
.\:w-20 {
   width: 5rem;
}
.\:w-22 {
   width: 5.5rem;
}
.\:w-24 {
   width: 6rem;
}
.\:w-26 {
   width: 6.5rem;
}
.\:w-28 {
   width: 7rem;
}
.\:w-30 {
   width: 7.5rem;
}
.\:w-32 {
   width: 8rem;
}
.\:w-34 {
   width: 8.5rem;
}
.\:w-36 {
   width: 9rem;
}
.\:w-38 {
   width: 9.5rem;
}
.\:w-40 {
   width: 10rem;
}
.\:w-42 {
   width: 10.5rem;
}
.\:w-44 {
   width: 11rem;
}
.\:w-46 {
   width: 11.5rem;
}
.\:w-48 {
   width: 12rem;
}
.\:w-50 {
   width: 12.5rem;
}
.\:w-52 {
   width: 13rem;
}
.\:w-54 {
   width: 13.5rem;
}
.\:w-56 {
   width: 14rem;
}
.\:w-58 {
   width: 14.5rem;
}
.\:w-60 {
   width: 15rem;
}
.\:w-62 {
   width: 15.5rem;
}
.\:w-64 {
   width: 16rem;
}
.\:w-66 {
   width: 16.5rem;
}
.\:w-68 {
   width: 17rem;
}
.\:w-70 {
   width: 17.5rem;
}
.\:w-72 {
   width: 18rem;
}
.\:w-74 {
   width: 18.5rem;
}
.\:w-76 {
   width: 19rem;
}
.\:w-78 {
   width: 19.5rem;
}
.\:w-80 {
   width: 20rem;
}
.\:w-82 {
   width: 20.5rem;
}
.\:w-84 {
   width: 21rem;
}
.\:w-86 {
   width: 21.5rem;
}
.\:w-88 {
   width: 22rem;
}
.\:w-90 {
   width: 22.5rem;
}
.\:w-92 {
   width: 23rem;
}
.\:w-94 {
   width: 24rem;
}
.\:w-96 {
   width: 25rem;
}
.\:w-98 {
   width: 26.5rem;
}
.\:w-100 {
   width: 28rem;
}
.\:w-max {
   width: 100vh;
}
.\:w-100\% {
   width: 100%;
}
.\:w-95\% {
   width: 95%;
}
.\:w-90\% {
   width: 90%;
}
.\:w-85\% {
   width: 85%;
}
.\:w-80\% {
   width: 80%;
}
.\:w-75\% {
   width: 75%;
}
.\:w-70\% {
   width: 70%;
}
.\:w-65\% {
   width: 65%;
}
.\:w-60\% {
   width: 60%;
}
.\:w-55\% {
   width: 55%;
}
.\:w-50\% {
   width: 50%;
}
.\:w-45\% {
   width: 45%;
}
.\:w-40\% {
   width: 40%;
}
.\:w-35\% {
   width: 35%;
}
.\:w-30\% {
   width: 30%;
}
.\:w-25\% {
   width: 25%;
}
.\:w-20\% {
   width: 20%;
}
.\:w-15\% {
   width: 15%;
}
.\:w-10\% {
   width: 10%;
}
.\:w-auto {
   width: auto;
}
.\:w-fit-content {
   width: fit-content;
}

/* altos */
.\:h-0 {
   height: 0px;
}
.\:h-1 {
   height: 0.25rem;
}
.\:h-2 {
   height: 0.5rem;
}
.\:h-3 {
   height: 0.75rem;
}
.\:h-4 {
   height: 1rem;
}
.\:h-5 {
   height: 1.25rem;
}
.\:h-6 {
   height: 1.5rem;
}
.\:h-7 {
   height: 1.75rem;
}
.\:h-8 {
   height: 2rem;
}
.\:h-9 {
   height: 2.25rem;
}
.\:h-10 {
   height: 2.5rem;
}
.\:h-11 {
   height: 2.75rem;
}
.\:h-12 {
   height: 3rem;
}
.\:h-13 {
   height: 3.25rem;
}
.\:h-14 {
   height: 3.5rem;
}
.\:h-15 {
   height: 3.75rem;
}
.\:h-16 {
   height: 4rem;
}
.\:h-17 {
   height: 4.25rem;
}
.\:h-18 {
   height: 4.5rem;
}
.\:h-19 {
   height: 4.75rem;
}
.\:h-20 {
   height: 5rem;
}
.\:h-22 {
   height: 5.5rem;
}
.\:h-24 {
   height: 6rem;
}
.\:h-26 {
   height: 6.5rem;
}
.\:h-28 {
   height: 7rem;
}
.\:h-30 {
   height: 7.5rem;
}
.\:h-32 {
   height: 8rem;
}
.\:h-34 {
   height: 8.5rem;
}
.\:h-36 {
   height: 9rem;
}
.\:h-38 {
   height: 9.5rem;
}
.\:h-40 {
   height: 10rem;
}
.\:h-42 {
   height: 10.5rem;
}
.\:h-44 {
   height: 11rem;
}
.\:h-46 {
   height: 11.5rem;
}
.\:h-48 {
   height: 12rem;
}
.\:h-50 {
   height: 12.5rem;
}
.\:h-52 {
   height: 13rem;
}
.\:h-54 {
   height: 13.5rem;
}
.\:h-56 {
   height: 14rem;
}
.\:h-58 {
   height: 14.5rem;
}
.\:h-60 {
   height: 15rem;
}
.\:h-62 {
   height: 15.5rem;
}
.\:h-64 {
   height: 16rem;
}
.\:h-66 {
   height: 16.5rem;
}
.\:h-68 {
   height: 17rem;
}
.\:h-70 {
   height: 17.5rem;
}
.\:h-72 {
   height: 18rem;
}
.\:h-74 {
   height: 18.5rem;
}
.\:h-76 {
   height: 19rem;
}
.\:h-78 {
   height: 19.5rem;
}
.\:h-80 {
   height: 20rem;
}
.\:h-82 {
   height: 20.5rem;
}
.\:h-84 {
   height: 21rem;
}
.\:h-86 {
   height: 21.5rem;
}
.\:h-88 {
   height: 22rem;
}
.\:h-90 {
   height: 22.5rem;
}
.\:h-92 {
   height: 23rem;
}
.\:h-94 {
   height: 24rem;
}
.\:h-96 {
   height: 25rem;
}
.\:h-98 {
   height: 26.5rem;
}
.\:h-100 {
   height: 28rem;
}
.\:h-max {
   height: 100vh;
}
.\:h-100\% {
   height: 100%;
}
.\:h-95\% {
   height: 95%;
}
.\:h-90\% {
   height: 90%;
}
.\:h-85\% {
   height: 85%;
}
.\:h-80\% {
   height: 80%;
}
.\:h-75\% {
   height: 75%;
}
.\:h-70\% {
   height: 70%;
}
.\:h-65\% {
   height: 65%;
}
.\:h-60\% {
   height: 60%;
}
.\:h-55\% {
   height: 55%;
}
.\:h-50\% {
   height: 50%;
}
.\:h-45\% {
   height: 45%;
}
.\:h-40\% {
   height: 40%;
}
.\:h-35\% {
   height: 35%;
}
.\:h-30\% {
   height: 30%;
}
.\:h-25\% {
   height: 25%;
}
.\:h-20\% {
   height: 20%;
}
.\:h-15\% {
   height: 15%;
}
.\:h-10\% {
   height: 10%;
}
.\:h-auto {
   height: auto;
}
.\:h-fit-content {
   height: fit-content;
}

/* z index helpers */
.\:z-none {
   z-index: 0;
}

.\:z-1 {
   z-index: 10;
}

.\:z-2 {
   z-index: 20;
}

.\:z-3 {
   z-index: 30;
}

.\:z-4 {
   z-index: 60;
}

.\:z-5 {
   z-index: 80;
}

.\:z-6 {
   z-index: 100;
}

.\:z-7 {
   z-index: 120;
}

.\:z-8 {
   z-index: 140;
}

.\:z-9 {
   z-index: 160;
}

.\:z-10 {
   z-index: 200;
}

.\:z-max {
   z-index: 1000;
}

.\:top-0 {
   top: 0;
}

.\:bottom-0 {
   bottom: 0;
}

.\:left-0 {
   left: 0;
}

.\:right-0 {
   right: 0;
}

.\:opacity-1 {
   opacity: 0.1;
}

.\:opacity-2 {
   opacity: 0.2;
}

.\:opacity-3 {
   opacity: 0.3;
}

.\:opacity-4 {
   opacity: 0.4;
}

.\:opacity-5 {
   opacity: 0.5;
}

.\:opacity-6 {
   opacity: 0.6;
}

.\:opacity-7 {
   opacity: 0.7;
}

.\:opacity-8 {
   opacity: 0.8;
}

.\:opacity-9 {
   opacity: 0.9;
}

.\:opacity-10 {
   opacity: 1;
}

/* cursores :::::::::::::::::::*/
.\:cursor-pointer {
   cursor: pointer;
}

.\:cursor-copy {
   cursor: copy;
}

.\:cursor-help {
   cursor: help;
}

.\:cursor-text {
   cursor: text;
}

/* backgroud imagenes posiciones*/
.\:bg-repeat-no-repeat {
   background-repeat: no-repeat;
}

.\:bg-repeat-space {
   background-repeat: space;
}

.\:bg-repeat-round {
   background-repeat: round;
}

.\:bg-size-cover {
   background-size: cover;
}

.\:bg-size-contain {
   background-size: contain;
}

.\:bg-position-center {
   background-position: center;
}

.\:bg-position-bottom {
   background-position: bottom;
}

.\:bg-position-top {
   background-position: top;
}

.\:bg-position-left {
   background-position: left;
}

.\:bg-position-right {
   background-position: right;
}

/* posisionamiento de objetos :::::::::::::::::*/
.\:object-cover {
   object-fit: cover;
}

.\:object-contain {
   object-fit: contain;
}

.\:object-fill {
   object-fit: fill;
}

/* decoracion de textos:::::::::::::::::::::::::::: */
.\:text-decoration-none {
   text-decoration: none;
}

.\:text-decoration-line {
   text-decoration: line-through;
}

.\:text-decoration-underline {
   text-decoration: underline;
}

/* text tranform::::::::::::::::::::::::::::::::::::::: */
.\:text-capitalize {
   text-transform: capitalize;
}

.\:text-lowercase {
   text-transform: lowercase;
}

.\:text-uppercase {
   text-transform: uppercase;
}

/* rotaciones */
.\:rotate-0 {
   transform: rotate(0deg);
}

.\:rotate-45 {
   transform: rotate(45deg);
}

.\:rotate-90 {
   transform: rotate(90deg);
}

.\:rotate-135 {
   transform: rotate(135deg);
}

.\:rotate-180 {
   transform: rotate(180deg);
}

.\:rotate-225 {
   transform: rotate(225deg);
}

.\:rotate-270 {
   transform: rotate(270deg);
}

.\:rotate-315 {
   transform: rotate(315deg);
}

.\:rotate-360 {
   transform: rotate(360deg);
}
