@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?th46mr");
  src: url("../fonts/icomoon.eot?th46mr#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?th46mr") format("truetype"),
    url("../fonts/icomoon.woff?th46mr") format("woff"),
    url("../fonts/icomoon.svg?th46mr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-employes:before {
  content: "\e902";
}
.icon-image-gallery:before {
  content: "\e903";
}
.icon-address:before {
  content: "\e904";
}
.icon-back:before {
  content: "\e905";
}
.icon-back_to:before {
  content: "\e906";
}
.icon-basket:before {
  content: "\e907";
}
.icon-camera:before {
  content: "\e908";
}
.icon-camera-add:before {
  content: "\e909";
}
.icon-cancel:before {
  content: "\e90a";
}
.icon-cart:before {
  content: "\e90b";
}
.icon-copy:before {
  content: "\e90c";
}
.icon-delete:before {
  content: "\e90d";
}
.icon-deliery-man:before {
  content: "\e90e";
}
.icon-delivery-card:before {
  content: "\e90f";
}
.icon-downloads:before {
  content: "\e910";
}
.icon-edit:before {
  content: "\e911";
}
.icon-edit-news:before {
  content: "\e912";
}
.icon-email:before {
  content: "\e913";
}
.icon-exe:before {
  content: "\e914";
}
.icon-exit:before {
  content: "\e915";
}
.icon-external-link:before {
  content: "\e916";
}
.icon-facebook:before {
  content: "\e917";
}
.icon-facebook-messenger:before {
  content: "\e918";
}
.icon-favorite-folder:before {
  content: "\e919";
}
.icon-file:before {
  content: "\e91a";
}
.icon-go_back:before {
  content: "\e91b";
}
.icon-google-play:before {
  content: "\e91c";
}
.icon-home:before {
  content: "\e91d";
}
.icon-ic_calificar:before {
  content: "\e91e";
}
.icon-image:before {
  content: "\e91f";
}
.icon-image-add:before {
  content: "\e920";
}
.icon-inbox-add:before {
  content: "\e921";
}
.icon-inbox-remove:before {
  content: "\e922";
}
.icon-increase:before {
  content: "\e923";
}
.icon-info:before {
  content: "\e924";
}
.icon-instagram:before {
  content: "\e925";
}
.icon-job:before {
  content: "\e926";
}
.icon-link:before {
  content: "\e927";
}
.icon-lock:before {
  content: "\e928";
}
.icon-map:before {
  content: "\e929";
}
.icon-map_marker:before {
  content: "\e92a";
}
.icon-marker:before {
  content: "\e92b";
}
.icon-menu:before {
  content: "\e92c";
}
.icon-menu-2:before {
  content: "\e92d";
}
.icon-menu-3:before {
  content: "\e92e";
}
.icon-menu-4:before {
  content: "\e92f";
}
.icon-message-delete:before {
  content: "\e930";
}
.icon-message-open:before {
  content: "\e931";
}
.icon-message-waiting:before {
  content: "\e932";
}
.icon-natural-user-interface-2:before {
  content: "\e933";
}
.icon-news:before {
  content: "\e934";
}
.icon-next:before {
  content: "\e935";
}
.icon-notification:before {
  content: "\e936";
}
.icon-offers:before {
  content: "\e937";
}
.icon-ok:before {
  content: "\e938";
}
.icon-open_parcel:before {
  content: "\e939";
}
.icon-pdf:before {
  content: "\e93a";
}
.icon-portrait:before {
  content: "\e93b";
}
.icon-present:before {
  content: "\e93c";
}
.icon-publications:before {
  content: "\e93d";
}
.icon-qr-code:before {
  content: "\e93e";
}
.icon-refresh:before {
  content: "\e93f";
}
.icon-save:before {
  content: "\e940";
}
.icon-search:before {
  content: "\e941";
}
.icon-send:before {
  content: "\e942";
}
.icon-settings:before {
  content: "\e943";
}
.icon-share:before {
  content: "\e944";
}
.icon-shop-favorite:before {
  content: "\e945";
}
.icon-statistics:before {
  content: "\e946";
}
.icon-switch-of:before {
  content: "\e947";
}
.icon-switch-on:before {
  content: "\e948";
}
.icon-technical-support:before {
  content: "\e949";
}
.icon-terms:before {
  content: "\e94a";
}
.icon-tickets:before {
  content: "\e94b";
}
.icon-ticket-start:before {
  content: "\e94c";
}
.icon-website:before {
  content: "\e94d";
}
.icon-whatsapp:before {
  content: "\e94e";
}
.icon-xml:before {
  content: "\e94f";
}
